<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css"/>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<div class="col-md-12 col-sm-8 body-wrap">
  
<div class="body-container">

<div ng-app="">

<%= nested_form_for(tenant) do |f| %>

  <div class="body-content">
  <div id="dashboard-container">
  
  <form name="item">
  <div class="card card-block">
  
  <div class="row">
    <div class="form-group">

      <div class="col-xs-4">
        <label class="control-label">
          <%= f.label :name,"Customer Name"%>
        </label>
        <div class="form-group">
          <%= f.text_field :name, class: "form-control boxed",required: true %>
        </div>
      </div>

      <div class="col-xs-4">
        <label class="control-label">
          <%= f.label :sex,"Male/Female Ratio"%>
        </label>
        <div class="form-group">
          <%= f.text_field :sex, class: "form-control boxed",required: true %>
        </div>
      </div>

      <div class="col-xs-4">
        <label class="control-label">
          <%= f.label :email%>
        </label>
        <div class="form-group">
          <%= f.text_field :email, class: "form-control boxed",required: true,:type=>"email" %>
        </div>
      </div>

      <div class="col-xs-4">
        <label class="control-label">
          <%= f.label :description %>
        </label>
        <div class="form-group">
          <%= f.text_area :description, class: "form-control boxed" %>
        </div>
      </div>


      <div class="col-xs-4">
        <label class="control-label">
          <%= f.label :site_category_id,"Category" %>
        </label>
        <div class="form-group">
          <%= f.collection_select :site_category_id, SiteCategory.order("name").where.not(:name=>"Provider"), :id, :name,{:prompt=>true} ,{class: "form-control boxed e1"}%>
        </div>
      </div>
      

       <div class="col-xs-4">
        <label class="control-label">
          <%= f.label :kitchen_id,"Facility" %>
        </label>
        <div class="form-group">
          <%= f.collection_select :kitchen_id, Kitchen.order("name"), :id, :name,{:prompt=>true} ,{class: "form-control boxed e1"}%>
        </div>
      </div>

    </div>
  </div>
  
  <div class="row">
    <div class="form-group">
      <div class="col-xs-4">
        <label class="control-label">
          <%= f.label :latitude %>
        </label>
      <div class="form-group">
        <%= f.text_field :latitude,:pattern=>'-?\d{1,3}\.\d+',class: "form-control boxed",required: true %>
      </div>
      </div>

      <div class="col-xs-4">
        <label class="control-label">
          <%= f.label :longitude %>
        </label>
        <div class="form-group">
          <%= f.text_field :longitude,:pattern=>'-?\d{1,3}\.\d+', class: "form-control boxed",required: true %>
        </div>
      </div>

      <div class="col-xs-4">
        <label class="control-label">
          <%= f.label :from_date %>
        </label>
        <div class="form-group">
        <%= f.text_field :from_date,:id=>"txtFrom", class: "form-control boxed",required: true,:readonly=> true %>
        </div>
      </div>

    </div>
  </div>


  <div class="row">
    <div class="form-group">
 
      <div class="col-xs-4">
        <label class="control-label">
          <%= f.label :to_date %>
        </label>
        <div class="form-group">
          <%= f.text_field :to_date,:id=>"txtTo", class: "form-control boxed",required: true ,:readonly=> true%>
        </div>
      </div>

      <div class="col-xs-4">
        <label class="control-label">
          <%= f.label :contact_person1,"Contact Person 1" %>
        </label>
       <div class="form-group">
         <%= f.text_field :contact_person1, class: "form-control boxed",required: true %>
        </div>
      </div>

      <div class="col-xs-4">
        <label class="control-label">
          <%= f.label :contact_person2,"Contact Person 2" %>
        </label>
        <div class="form-group">
          <%= f.text_field :contact_person2, class: "form-control boxed" %>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="form-group">

      <div class="col-xs-4">
        <label class="control-label">
          <%= f.label :phone1,"Mobile Number_1" %>
        </label>
        <div class="form-group">
          <%= f.text_field :phone1, class: "form-control boxed",required: true,type:'tel',title:'Phone Number (Format: +91(91)********)',:pattern=>'^\+?\d{0,10}' %>
        </div>
      </div>

      <div class="col-xs-4">
        <label class="control-label">
          <%= f.label :phone2,"Mobile Number_2" %>
        </label>
        <div class="form-group">
          <%= f.text_field :phone2, class: "form-control boxed",type:'tel',title:'Phone Number (Format: +91(91)********)',:pattern=>'^\+?\d{0,10}' %>
        </div>
      </div>


      <div class="col-xs-4">
        <label class="control-label">
          <%= f.label :address %>
        </label>
        <div class="form-group">
          <%= f.text_area :address, class: "form-control boxed",required: true %>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="form-group">

      <div class="col-xs-4">
        <label class="control-label">
          <%= f.label :exclude,"Exclude" %>
        </label>
        <div class="form-group">
        <ul>
         <li> <%= f.radio_button :exclude, '0', :value => "0",required: true %>None</li>
          <li><%= f.radio_button :exclude, '1', :value => "1" %>Saturday </li>
        <li>  <%= f.radio_button :exclude, '2', :value => "2" %>Sunday </li>
         <li> <%= f.radio_button :exclude, '3', :value => "3" %>Saturday&Sunday</li> 
         </ul>
        </div>
      </div>

      <div class="col-xs-4">
        <label class="control-label">
          <%= f.label :active,"IsActive" %>
        </label>
        <div class="form-group">
          <%= f.check_box :active %>
        </div>
      </div>
 <div class="col-xs-2">

                  <label class="control-label"><%= f.label :meal,"Meal" %></label>

                   <div class="form-group ">
    
                      <input value ="true" name="tenant[meal]" id="tenant_meal_true" ng-init="tenant[meal] = '<%= @tenant.meal %>'" ng-model ="tenant[meal]" type="radio" ng-checked="true">Yes

                      <input value ="false" name="tenant[meal]" id="tenant_meal_false" ng-init="tenant[meal] = '<%= @tenant.meal %>'" ng-model ="tenant[meal]" type="radio">No
      
                  </div>

                  </div>

      <%= f.fields_for :image do |a| %>
      <%unless @tenant.image.image_path.present?%>
        <div class="col-xs-4">
          <label class="control-label">
            <%= a.label :image_path, "Company Logo" %>
          </label>
          <div class="form-group">
            <%= a.file_field :image_path ,class: "form-control boxed",required: true,:style=>"height: auto;"%>
          </div>
        </div>
    <%else%>
      <div class="col-xs-4">
          <label class="control-label">
            <%= a.label :image_path, "Company Logo" %>  
          </label>
          <div class="form-group">
            <div class="form-group"><%=image_tag @tenant.image.image_path,:style=>"height:50px;width:50px;"%>
            <%= a.file_field :image_path ,class: "form-control boxed",:style=>"height: auto;"%>
          </div>
        </div>
    </div>
    <%end%>
  <%end%>
  </div>

  </div>
</div>
<div ng-show="tenant[meal] == 'false'">

              <center><%=link_to 'Back',tenants_path,title:"Back" , :class=>"btn btn-primary"%> | <%= f.submit 'Submit',title:"Submit" ,:class=>"btn btn-primary"%></center> 
            
            </div>
            
 <div ng-show="tenant[meal] == 'true' || tenant[meal] == null || tenant[meal] =='' " >

              

                <div class="body-header"><h3>ADD - MEAL INFO </span></h3></div>

                <div class="card card-block">
  
                  <div class="content">
    
                    <table class="table table-container" id="tasks">
      
                      <thead>

                        <th>Student Type</th>
                        
                        <th>Meal Time</th>
        
                        <th>Clock Time</th>
        
                        <!-- <th>Meal Type</th> -->

                        <th>Meal Restriction</th>

                        <th>Order</th>
        
                        <th>No. of Packs</th>

                        <th>Cost per Pack</th>

                        <!-- <th>Delivery Time</th> -->

        
                        <th>Action</th>
                  
                      </thead>
      
                      <tbody>
        
                        <%= f.fields_for :tenant_details,wrapper:false  do |ff| %>  
          
                          <tr class="fields">

                          <td><%= ff.select :stud_type, ['Primary','Secondary'],{prompt: true },{class: "form-control boxed e1 a2" , id: "student_type"}%></td>
                             
                            <!--<td><@%= ff.select :meal_time,FoodGroup.all.order("meal_time").pluck(:meal_time).uniq,{prompt:true},{class: "form-control boxed e1 a1 name"}  %></td>-->

                            <td><%= ff.select :meal_time, Category.all.pluck(:category_name).uniq,{prompt:true},{class: "form-control boxed e1 a1 name"}  %></td>

                          
                            <td><%= ff.select :meal_plan, ['12:00am','12:30am','1:00am','1:30am','2:00am','2:30am','3:00am','3:30am','4:00am','4:30am','5:00am','5:30am','6:00am','6:30am','7:00am','7:30am','8:00am','8:30am','9:00am','9:30am','10:00am','10:30am','11:00am','11:30am','12:00pm','12:30pm','1:00pm','1:30pm','2:00pm','2:30pm','3:00pm','3:30pm','4:00pm','4:30pm','5:00pm','5:30pm','6:00pm','6:30pm','7:00pm','7:30pm','8:00pm','8:30pm','9:00pm','9:30pm','10:00pm','10:30pm','11:00pm','11:30pm'],{prompt: true },{class: "form-control boxed e1 a2"}%></td>
                          
<!--                             <!% if params[:id].present? %>

                              <td>

                                <!%= ff.collection_select :food_category_id, FoodCategory.where(:id=>FoodGroup.where(:meal_time=> ff.object.meal_time).pluck(:food_category_id)), :id, :name, {:prompt => true, class: "form-control boxed e1 responses"}, {:selected => ff.object.food_category.present? ? ff.object.food_category.name : nil } %>

                              </td>

                            <!% else %>  
                            <td><!%= ff.collection_select :food_category_id, FoodCategory.order("name").where(:id=>FoodGroup.where(:food_category_id=> @array).pluck(:id)), :id, :name,{prompt:true},{class: "form-control boxed e1 responses a3"} %></td> 

                            <!% end %> -->

                            <td><%= ff.collection_select :meal_restriction_id,MealRestriction.all.order("meal_restriction_name"), :id, :meal_restriction_name, {prompt:true},{class: "form-control boxed e1"}  %></td>

                          
                            <%if ff.object.order.nil?%>
            
                              <td><%= ff.select :order, ['Enroll','Not-Enroll'],{:prompt=>true},{class: "form-control boxed e1 a4"}%></td>

                              <td><%= ff.text_field :quantity ,:pattern=>'[-+]?[0-9]*[0-9]+',class: "form-control boxed e1 a5"%></td>



                            <%else%>
                
                              <td><%= ff.text_field :order,:value=>ff.object.order,class: "form-control boxed e1 a4",readonly: true%></td>
                
                              <td><%= ff.text_field :quantity,:value=>ff.object.quantity,class: "form-control boxed e1 a5",readonly: true%></td>
             
                            <%end%>
                              <%= ff.hidden_field :food_category_id, :value => FoodCategory.find_by('lower(name) =?',  'veg').id %>
            
                              <td><%= ff.text_field :cost, class: "form-control boxed"%></td>

                            <!--   <td><#%= ff.select :delivery_time, ['12:00am','12:30am','1:00am','1:30am','2:00am','2:30am','3:00am','3:30am','4:00am','4:30am','5:00am','5:30am','6:00am','6:30am','7:00am','7:30am','8:00am','8:30am','9:00am','9:30am','10:00am','10:30am','11:00am','11:30am','12:00pm','12:30pm','1:00pm','1:30pm','2:00pm','2:30pm','3:00pm','3:30pm','4:00pm','4:30pm','5:00pm','5:30pm','6:00pm','6:30pm','7:00pm','7:30pm','8:00pm','8:30pm','9:00pm','9:30pm','10:00pm','10:30pm','11:00pm','11:30pm'],{prompt: true },{class: "form-control boxed e1 a2"}%></td> -->
                          


            
                              <td><%= ff.link_to_remove "<i class 'fa fa-trash-o'></i>".html_safe,:class=>"btn btn-danger fa fa-trash-o" ,title:"Remove"%></td>

                          </tr>
                          <%unless params[:id].present?%>
                                <div class="msg"></div>
                                <%else%>
                                <div class="mssffg"></div>
                                <%end%>
                          </tbody>
                        <%end%>
                       
                      </tbody>
                      
                          
                    </table>
  
                     <div class="form-group row mrgn-top">
  
                    <div class="col-sm-10 col-sm-offset-4">

                      <%=link_to 'Back',tenants_path,title:"Back" , :class=>"btn btn-primary"%> | <%= f.submit 'Submit',title:"Submit" ,:class=>"btn btn-primary button" %> | <%= f.link_to_add "<i class 'fa fa-plus'> Add</i>".html_safe, :tenant_details,:class=>"btn btn-primary gg" ,title:"Add Meal Info" , :data => { :target => "#tasks" } %>
  
                    </div>
  
                  </div>
  
                  </div>
  
                </div>
  
              
  
            </div>
 
          </form>
  
        </div>
  
      </div>

    <% end %>

  </div>

</div>

</div>




<script type="text/javascript">
$(function(){
      $("#txtFrom").datepicker({
        numberOfMonths: 1,
        onSelect: function (selected) {
            var dt = new Date(selected);
            dt.setDate(dt.getDate() );
            $("#txtTo").datepicker("option", "minDate", dt);
        },dateFormat: 'yy-mm-dd', minDate: 0
       
      });
      $("#txtTo").datepicker({
        numberOfMonths: 1,
        onSelect: function (selected) {
            var dt = new Date(selected);
            dt.setDate(dt.getDate()  );
            $("#txtFrom").datepicker("option", "maxDate", dt);
        },dateFormat: 'yy-mm-dd',minDate: 0
    });
    });
</script>
<style type="text/css">
.content{
width: 100%;    
overflow: auto;
}  
</style>    

 <script type="text/javascript">
  $(function(){
    $(".name").on("change", function () {
      var select = $(this).val();
      var id = $(this).attr('id');
      id = id.replace("meal_time", "food_category_id");
     
      $.ajax({
        type: "GET",
        url: "/tenants/check_mg_present?each_id=" + id + "&select="+select,

    });
       
});
   
  });
</script> 
<script type="text/javascript">
  $(document).on('nested:fieldAdded', function(event){
    $(".name").on("change", function () {
      //alert($(".name option:selected").index());
      //alert($("select[name='name'] option:selected").index());
      var select = $(this).val();
      var id = $(this).attr('id');
      id = id.replace("meal_time", "food_category_id");
      $.ajax({
        type: "GET",
        url: "/tenants/check_mg_present?each_id=" + id + "&select="+select,
    });
});
  });
</script>



 <script type="text/javascript">
  $(function(){
    $("#tenant_meal_true").val("true");
       $( ".msg" ).text("All field's are required"); 
      $(".msg").show();
      $(".button").prop("disabled", true);
  });
</script> 

<!-- <script type="text/javascript"'s'


window.setInterval(function(){
  /// call your function here
}, 5000);


  $(function(){
   var fir = $('.a2').val();
   var sec = $('.a2').val();
   var thi = $('.a3').val();
   var fou = $('.a4').val();
   if (fir == "" && sec == "" && thi == "" && fou == "" && $("#tenant_meal_true").val("true"))
   {
    
    $( ".msg" ).text("All Field Required "); 
      $(".msg").show();
      $(".button").prop("disabled", true);
   }
   
  
  });
</script>   -->
<script type="text/javascript">
  window.setInterval(function(){
    var a2 = $('.a2').val();
    var a1 = $('.a1').val();
    var a3 = $('.a3').val();
    var a4 = $('.a4').val();
  if(a1 != "" && a2 != "" && a3 != "" && a4 != "")
  {
    

      $(".msg").hide();
      $(".button").prop("disabled", false);
    }
  else{
    $(".msg").show();
      $(".button").prop("disabled", true);
  }
      }, 1000);
    
</script>
<!-- <script type="text/javascript">
$(".a1").on("change", function () {
     $( ".msg" ).text("All Field Required "); 
      $(".msg").show();
      $(".button").prop("disabled", true);
      });
</script>
<script type="text/javascript">
$(".a2").on("change", function () {
     $( ".msg" ).text("All Field Required "); 
      $(".msg").show();
      $(".button").prop("disabled", true);
      });
</script>
<script type="text/javascript">
$(".a3").on("change", function () {
     $( ".msg" ).text("All Field Required "); 
      $(".msg").show();
      $(".button").prop("disabled", true);
      });
</script>
 --><!--
<script type="text/javascript">
   
  $(document).ready(function(){

    $(".meal_info").on("click", function () {
    
      var meal = $(this).val();
     
      $.ajax({


        $(".a1").on("change", function () {
      var a1 = $(this).val();
      $(".a2").on("change", function () {
         var a2 = $(this).val();
         $(".a3").on("change", function () {
         var a3 = $(this).val();
         $(".a4").on("change", function () {
         var a4 = $(this).val();
       alert("ss");
      });
      });
      });
       
     });

        type: "GET",
        url: "/tenants/check_meal_info?meal_info=" + meal,
        success: function nt(data) {
               alert(data.message);
              }
      });
    });
  });
</script>
-->
<style type="text/css">
  .msg{
    color: red;
    text-align: center;
    font-weight: bold;
  }
</style>
