
<div class="col-md-12 col-sm-8 body-wrap">
  <div class="body-container">
    <div class="body-header">
      <h3>Master<span><%= link_to 'New Utensils Category', new_utensils_category_path, :class=>"btn btn-primary btn-sm rounded-s"%> </span></h3>
      <h2>Utensils Categories</h2>
    </div>
    <div class="body-content">
      <div id="dashboard-container">
        <div class="table-container">
          <table class="table table-striped table-bordered table-hover display" cellspacing="0" width="100%" id="utensils_category">
            <thead>
               <tr>
                  <th>Utensil Category</th>
                  <th>Utensil Count</th>
                  <th>Dispatch Quantity</th>

                  <th>Created_by</th>
                  <th>Updated_by</th>
                  <!-- <th>Movable Status</th> -->
                  <th>Edit</th>
                  <!-- <th>Delete</th> -->
                </tr>
            </thead>
            <tbody>
              <% @utensils_categories.each do |utensils_category| %>
              <tr>
              
              <td><%= utensils_category.utensils_category_name%></td>
              <td><%=Utensil.where(:utensils_category_id=> utensils_category.id).count%></td>
              <td><%=utensils_category.upload_status%></td>
              <td><%= create(utensils_category) %></td>
              <td><%= update(utensils_category) %></td>
              <!--td><!%= (utensils_category.movable_status.to_s == "true")? "Yes" : "No"%></td-->
             <!--  <td><!%= link_to 'Show', utensils_category %></td> -->
              <td><%= link_to '', edit_utensils_category_path(utensils_category),:class=>"fa fa-pencil" %></td>
              <!-- <td><%#= link_to '', utensils_category, method: :delete, data: { confirm: 'Are you sure?' } ,:class=>"fa fa-trash-o"%></td> -->
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
  
