


<br>
<h1>Dispatch</h1>
<table class="table table-striped table-bordered table-hover display" cellspacing="0" width="80%" id="index" >

<thead>
 <%@dispatched.each do |d|%>
<tr>
<td><%= d.date.strftime("%d-%m-%y")%></td>
<td><%= d.tenant_detail.tenant.name%></td>
<td>Utensil Name</td>
<td>Count</td>
<td>RFID</td>
</tr>
</thead>
<tbody>
<tr>
<td><%= d.menuitem.keys.join("")%></td>
<td><%= d.menuitem.values.join("")%></td>
<td><%= d.utensil.utensilname.name%></td>
<td>1</td>
<%byebug%>
<td><%= d.tag.rfid%></td>
</tr>
<%end%>
</tbody>
</table>