

<br>
<table class="table table-striped table-bordered table-hover display" cellspacing="0" width="80%" id="index" >
<thead>

<tr>
<td><%= @vessel[0].date.strftime("%d-%m-%Y")%></td>
<td><%= @vessel[0].tenant_detail.tenant.name%></td>
<td>Utensil Name</td>
<td>Count</td>
<td>Action</td>
</thead>
</tr>
<tbody>
<%@vessel.each do |v|%>
<tr id="row<%=v.id%>">
<%byebug%>
<!-- <td><%#= v.menuitem.keys.join("")%></td> -->

<td><%= v.menuitem.values[0]%></td>
<td><%= v.menuitem.values[1]%></td>
<td><%=v.utensil.present? ? v.utensil.utensilname.name : nil%></td>
<td>1</td>
<td><button onclick="printData(<%=v.id%>)" id="printbtn<%=v.id%>">print</button></td>

</tr>
<%end%>
</tbody>


<script type="text/javascript">

          function printData(name)
          {
          var divToPrint=document.getElementById("row"+name);
          alert(divToPrint.outerHTML.replace(new RegExp("</td>","g"),"<br>").replace(new RegExp("<td>","g"),"<br>"));
          var printButton=document.getElementById("printbtn"+name);
          newWin= window.open("");
          printButton.style.visibility = 'hidden';
          newWin.document.write(divToPrint.outerHTML.replace(new RegExp("</td>","g"),"<br>").replace(new RegExp("<td>","g"),""));
          newWin.print();
          newWin.close();
          printButton.style.visibility = 'visible';
        
          }
  

</script>
 

</table>

<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
<!-- <script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('#index').DataTable({
    dom: 'Bfrtip',
    buttons: [{
            extend: 'pdf',
            exportOptions: { columns: [0,1,2] }
      
        }]

  });
});

</script>