
<br>
<h2>PLANNING</h2>
<%= form_for :vesselplanner,url: {action: "index1"} do |f|%>
<% @menucycle.each do |s|%>

<html>

<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>

<body>
	
	<table class="table table-striped table-bordered table-hover display" cellspacing="0" width="80%" >
	<tr>
		<th><%= s.date.strftime("%d-%m-%Y")%><%= hidden_field_tag "date", s.date.strftime("%Y-%m-%d")%></th>
		<th></th>
		<th></th>

	</tr>
	<tr>
		<td><%= s.category.category_name%><%= hidden_field_tag "categoryname", s.category.category_name%></td>
		
	    <td><%= s.tenant.name%><%= hidden_field_tag "tenantname", s.tenant.name%></td>
		<td></td>
	
	</tr>
		<%= hidden_field_tag "tenantid", s.tenant_id%>
		<%= hidden_field_tag "stud_type", s.stud_type%>
		<%= hidden_field_tag "spread_type", s.spread_type%>
		<%= hidden_field_tag "category_id", s.category_id%>
	
	    <%s.menu_items.each do |m| %>
	  
	   <tr id="row<%=s.id%>">
		<td><%= m[:name] %><%= hidden_field_tag "menu_items[]", m[:name]%></td>
		
		<%qty=TenantDetail.find_by(tenant_id: s.tenant_id,stud_type:s.stud_type,spread_type: s.spread_type, meal_time: Category.find(s.category_id).category_name,food_category_id: s.food_category_id)%>
   
        <%= hidden_field_tag "menu_qty[]", qty.present? ? qty.quantity.to_f * m[:qty].to_f : 0 %>
   
        <td><%=qty.present? ? qty.quantity.to_f * m[:qty].to_f : 0 %></td>
  		<td><%= select_tag 'utensilname[]', options_for_select(@utensilname),{class: " form control" } %></td>
  		<%#= hidden_field_tag "utensilname_id[]",@utensilname %>
  		</tr>
	
		<%end%>

	
    </table>
</body>
</html>
<%end%>

<%= f.submit "save"%>

<%end%>
