 <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css" rel="Stylesheet" type="text/css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js"></script>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css">
  <script type="text/javascript" src="js/bootstrap-multiselect.js"></script>
<br>


<style>
.box {
  width: 90px;

height: 74px;

padding: 17px;

border-top: solid;

border-top-color: currentcolor;

border-top-color: orangered;

box-sizing: border-box;

background-color: #ddd;

float: right;

margin-right: 15px;

}
</style>
<div class="box">
<p>Unplanned</p>
<p><%=@unplanned_count%></p>
</div>

<div class="box">
<p>Planned</p>
<p><%=@plan_count%></p>
</div>
<%=form_for :vessel, url: {action: "new"} do |i|%>
<div class="col-md-12">
 <div class="col-md-4">
	<label>Date</label>
	<%=i.date_field :date , class: "form-control" , style: "width:200px"%>
 </div>
	
 <div class="col-md-4">
	<label>Client Type</label>
	<%=i.select "clienttype" , options_for_select(SiteCategory.pluck(:name,:id)),{prompt: true},{class: "form-control clienttype" , style: "width:200px"} %>
 </div>
	
 <div class="col-md-4">
	<label>Client Name</label>
	<%=i.select "clientname" , options_for_select(Tenant.pluck(:name, :id)),{prompt: true},{class: "form-control clientname" , style: "width:200px"} %>
 </div>
</div>

<div class="col-md-12">
 <div class="col-md-4">
	<label>Meal Course</label>
	<%=i.select "mealcourse" , options_for_select(Category.pluck(:category_name,:id)),{prompt: true},{class: "form-control",style: "width:200px"}%>
 </div>
    
 <div class="col-md-4">
	<label>Food Category</label>
	<%=i.select "foodcategory" , options_for_select(FoodCategory.pluck(:name, :id)),{prompt: true},{class: "form-control" , style: "width:200px"}%>
 </div>
  
  <div class="col-md-4">
	<label>Student Type</label>
	<%=i.select "studtype" , options_for_select(["Primary","Secondary"]),{prompt: true},{class: "form-control" ,:multiple => true, :size => 3, style: "width:200px"}%>
 </div>
</div>
<div class="col-md-12">
 <div class="col-md-3">
	<label>Spread Type</label>
	<%=i.select "spreadtype" , options_for_select(["3 Spread","5 Spread"]),{prompt: true},{class: "form-control" ,:multiple => true, :size => 3, style: "width:200px"}%>
 </div>
</div>
<div class="col-md-12">
<center><%=i.submit "submit"%></center>
</div>
<%end%>

<script type="text/javascript">
	
	$(document).ready(function(){

$(".clienttype").change(function(){
	var value = $(".clienttype").val();
	alert(value)

	$.ajax
    ({
        type: "GET",
        url: "/vesselplanners/dropdown",
        data: {val: value}
      });

});
	});
</script>