

<br>
<%=form_for :dispatch, url: {action: "dispatched"} do |f|%>
<%@vessel.each do |i|%>

<table class="table table-striped table-bordered table-hover display" cellspacing="0" width="80%" >
<tr>
<td><%= i.date.strftime("%d-%m-%Y")%><%=hidden_field_tag "date",i.date.strftime("%Y-%m-%d") %></td>
<td></td>
</tr>
<tr>
<td><%= i.tenant_detail.meal_time %></td>
<td><%= i.tenant_detail.tenant.name %><%=hidden_field_tag "tenantname",i.tenant_detail.tenant_id %></td>
<td>Utensil Name</td>
<td>Count</td>
<td>Vessel_ID</td>
</tr>   

<tr>

<!-- <td><%#=text_field_tag "item", i.menuitem.keys.join("")%></td> -->
<td><%=text_field_tag "item[]", i.menuitem.values[0]%></td>
<td><%=text_field_tag "qty[]", i.menuitem.values[1]%></td>
<%=hidden_field_tag "tnd_id", i.tenant_detail_id%>
<td><%=f.select :utensil_id, options_for_select(Utensilname.pluck(:name, :id),selected: i.utensil.utensilname_id),{prompt: true},{class: " form control" }%></td>
<td>1</td>
<%i.utensil.tags.each do |t|%>
<td><%=text_field_tag "rfid", t.rfid%></td>
<%end%>
</tr>


</table>
<%end%>

<%= f.submit "submit" %>
<%end%>


