



<%= form_for :dispatch, url: {action: "vessel"} do |j|%>
<div class="col-md-12">
 <div class="col-md-4">
	<label>Date</label>
	<%=j.date_field :date , class: "form-control" , style: "width:200px"%>
 </div>

 <div class="col-md-4">
	<label>Client Type</label>
	<%=j.select "clienttype" , options_for_select(@sitecategory),{prompt: true},{class: "form-control clienttype" , style: "width:200px"} %>
 </div>

 
 <div class="col-md-4">
	<label>Client Name</label>
	<%=j.select "clientname" , options_for_select(@tenant),{prompt: true},{class: "form-control clientname" , style: "width:200px"} %>
 </div>
 </div>

 <div class="col-md-12">
   <div class="col-md-4">
	<label>Meal Course</label>
	<%=j.select "mealcourse" , options_for_select(@category),{prompt: true},{class: "form-control" , style: "width:200px"}%>
   </div>
   
   <div class="col-md-4">
	<label>Food Category</label>
	<%=j.select "foodcategory" , options_for_select(@foodcategory),{prompt: true},{class: "form-control" , style: "width:200px"}%>
   </div>
   
   <div class="col-md-4">
	<label>Student Type</label>
	<%=j.select "studtype" , options_for_select(["Primary","Secondary"]),{prompt: true},{class: "form-control" ,:multiple => true, :size => 3, style: "width:200px"}%>
  </div>
 </div>

   <div class="col-md-4">
	<label>Spread Type</label>
	<%=j.select "spreadtype" , options_for_select(["3 Spread","5 Spread"]),{prompt: true},{class: "form-control" ,:multiple => true, :size => 3, style: "width:200px"}%>
  </div>


   <div class="col-md-12">
<center><%= j.submit "save"%></center>
</div>
<%end%>
 
<script type="text/javascript">
	
	$(document).ready(function(){

$(".clienttype").change(function(){
	var value = $(".clienttype").val();
	alert(value)

	$.ajax
    ({
        type: "GET",
        url: "/vesselplanners/dropdown1",
        data: {val: value}
      });

});
	});
</script>
