<% if false %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 dashboard-content">
      <h1 class="page-title">Dashboard
        <span class="float-right">
          <a href="/point_of_sales">Instant Orders</a>|
          <a href="/menu_masters">All Menu</a>|
          <a href="/normalmenu_sites">Assign Menu</a>|

          <a href="/enrolments/approval_screen">Approval</a>
          


        </span>
      </h1>

      <div class="row total">
        <%= render :partial => 'order_list' %>
      </div>
  
      <div class="row today-order">
        <div class="col-md-12">
          <h1>Today's Order</h1>
          <% if @menu_customers.present? %>
            <%= render :partial => 'today_order' %>
          <% else %>
            <div class="card"><p>No Orders Found!!</p></div>
          <% end %>
        </div>
      </div>

      <div class="row recent">
        <%= render :partial => 'recent_orders' %>
        <%= render :partial => 'vessels_uncollected' %>
      </div>
    </div>

    <div class="col-md-2 live-notification">
      <div class="live-bg">
        <h1>New Order</h1>
        <div class="new-order" id="refresh">
          <%= render :partial => 'new_orders' %>
        </div>
        <h1>Delivery Status</h1>
        <div class="delivery-status">
          <%= render :partial => 'dispatch_delivery_status' %>
        </div>
      </div>
    </div>
  </div>
</div>


<% end %>






<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="/assets/logo-circle.png" rel="shortcut icon" type="image/x-icon" style="border-radius: 100%;"/>

  <title>Habitos</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Fontawesome -->
  <!-- <link rel="stylesheet" href="css/fontawesome-all.css"> -->
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
  <!-- Layout CSS -->
  <link rel="stylesheet" href="/assets/layout-default.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/assets/custom.css">
  <!-- Font Awesome CDN-->
  <!-- you can replace it by local Font Awesome-->

  <!-- <script src="https://use.fontawesome.com/99347ac47f.js"></script> -->
  <!-- Google Font -->
  <link rel="stylesheet" href="/assets/roboto.css">

</head>
<body>
  <div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar" class="active">
      <div class="sidebar-header">
        <img src="\assets\logo-circle.png">
      </div>

<div class="list-group panel">
  <%if Nutrition? %>

   <a href="/normalmenu_sites/dashboard" class="list-group-item collapsed" data-parent="#sidebar"><i class="fas fa-tv"></i> <span class="hidden-sm-down">Dashboard</span></a>
   <a href="#menu2" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="far fa-chart-bar"></i><span class="hidden-sm-down">SCM</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <div class="collapse" id="menu2">
          <a href="/summaries" class="list-group-item" data-parent="#menu2">OD Summary</a>
        </div>
        <a href="#menu4" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="far fa-chart-bar"></i><span class="hidden-sm-down">Masters</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <div class="collapse" id="menu4">

          <a href="/menu_masters" class="list-group-item" data-parent="#menu4">All Menu</a>
          <a href="/production_items" class="list-group-item" data-parent="#menu4">Item List</a>
          <a href="/nutritions" class="list-group-item" data-parent="#menu4">Item Nutrition</a>
        </div>



<%end%>
<% if CEO? %>
        <a href="/normalmenu_sites/dashboard" class="list-group-item collapsed" data-parent="#sidebar"><i class="fas fa-tv"></i> <span class="hidden-sm-down">Dashboard</span></a>
        <a href="#menu1" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fas fa-th-large"></i><span class="hidden-sm-down">CRM</span> <i class="fas fa-angle-right" aria-hidden="true"></i></a>
        <div class="collapse" id="menu1">
          <a href="/tenants" class="list-group-item" data-parent="#menu1">CRM Info</a>
          <a href="/software_setups" class="list-group-item" data-parent="#menu1">Software Setup</a>
          <a href="/enrol_index" class="list-group-item" data-parent="#menu1">Individual Enrollment</a>
          <a href="/customer_view_controls" class="list-group-item" data-parent="#menu1">View Control</a>
        </div>
        <a href="#menu2" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="far fa-chart-bar"></i><span class="hidden-sm-down">SCM</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <div class="collapse" id="menu2">
          <a href="/summaries" class="list-group-item" data-parent="#menu2">OD Summary</a>
          <a href="/parent_orders" class="list-group-item" data-parent="#menu2">Individual Orders</a>
          <a href="/attendance_index" class="list-group-item" data-parent="#menu2">Today Attendance</a>
          <a href="/normalmenu_sites/menu_assign" class="list-group-item" data-parent="#menu2">Assign Menu</a>
          <a href="/status" class="list-group-item" data-parent="#menu2">Dispatch Delivery Receive</a>
          <a href="/auditreviews" class="list-group-item" data-parent="#menu2">Audit</a>
          <a href="/feedbacks" class="list-group-item" data-parent="#menu2">Feedback</a>         
          <a href="/tenants/user_feedback" class="list-group-item" data-parent="#menu2">User Feedback</a>         

        </div>
        <a href="#menu3" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fas fa-calendar-alt"></i><span class="hidden-sm-down">Facility Management</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <div class="collapse" id="menu3">
          <a href="/kitchens" class="list-group-item" data-parent="#menu3">Facility</a>
          <a href="/utensils" class="list-group-item" data-parent="#menu3">Assets</a>
          <a href="/normalmenu_sites/notreceive_status" class="list-group-item" data-parent="#menu3">Utensils Not Received</a>
        </div>
        <a href="#menu5" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fas fa-file"></i><span class="hidden-sm-down">Report</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <div class="collapse" id="menu5">
          
          <a href="/menu_masters" class="list-group-item" data-parent="#menu2">All Menu</a>
          <a href="/status" class="list-group-item" data-parent="#menu2">Dispatch Delivery Receive</a>
          <a href="/feedbacks" class="list-group-item" data-parent="#menu2">Feedback</a>         
          <a href="/summaries" class="list-group-item" data-parent="#menu2">OD Summary</a>
        </div>
        
        <a href="#menu4" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="far fa-chart-bar"></i><span class="hidden-sm-down">Masters</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <div class="collapse" id="menu4">
          <a href="/alleries" class="list-group-item" data-parent="#menu4">Allergy</a>
          <a href="/menu_masters" class="list-group-item" data-parent="#menu4">All Menu</a>
          <a href="/normalmenu_sites/menu_planner" class="list-group-item" data-parent="#menu4">Add Menu</a>
          <a href="/categories" class="list-group-item" data-parent="#menu4">Item Category</a>
          <a href="/production_items" class="list-group-item" data-parent="#menu4">Item List</a>
          <a href="/nutritions" class="list-group-item" data-parent="#menu4">Item Nutrition</a>
          <a href="/enrolments/individual" class="list-group-item" data-parent="#menu4">Individual Credentials</a>
          <a href="/food_categories" class="list-group-item" data-parent="#menu4">Meal Type</a>
          <a href="/meal_courses" class="list-group-item" data-parent="#menu4">Meal Course</a>
          <a href="/meal_restrictions" class="list-group-item" data-parent="#menu4">Meal Restriction</a>
          <a href="/production_categories" class="list-group-item" data-parent="#menu4">Production Category</a>
          <a href="/item_subcategories" class="list-group-item" data-parent="#menu4">Production Sub-Category</a>
          <a href="/site_categories" class="list-group-item" data-parent="#menu4">Site Category</a>
          <a href="/standards" class="list-group-item" data-parent="#menu4">Standards</a>
          <a href="/unit_of_measurements" class="list-group-item" data-parent="#menu4">Unit Of Measurement</a>
          <a href="/utensils_categories" class="list-group-item" data-parent="#menu4">Utensils Category</a>
          <a href="/kitchen_users" class="list-group-item" data-parent="#menu4">User Credentials</a>
        </div>


<%end%>
<%if Chef? %>
        <a href="/normalmenu_sites/dashboard" class="list-group-item collapsed" data-parent="#sidebar"><i class="fas fa-tv"></i> <span class="hidden-sm-down">Dashboard</span></a>

        <a href="#menu2" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="far fa-chart-bar"></i><span class="hidden-sm-down">SCM</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <div class="collapse" id="menu2">
          <a href="/summaries" class="list-group-item" data-parent="#menu2">OD Summary</a>
          <a href="/normalmenu_sites" class="list-group-item" data-parent="#menu2">Assign Menu</a>
          <a href="/auditreviews" class="list-group-item" data-parent="#menu2">Audit</a>
          <a href="/feedbacks" class="list-group-item" data-parent="#menu2">Feedback</a>
        </div>
        
        <a href="#menu4" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="far fa-chart-bar"></i><span class="hidden-sm-down">Masters</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <div class="collapse" id="menu4">

        <a href="/menu_masters" class="list-group-item" data-parent="#menu4">All Menu</a>
        <a href="/production_items" class="list-group-item" data-parent="#menu4">Item List</a>
        <a href="/nutritions" class="list-group-item" data-parent="#menu4">Item Nutrition</a>
        </div>


<%end%>
<%if DispatchManager? %>
        <a href="/normalmenu_sites/dashboard" class="list-group-item collapsed" data-parent="#sidebar"><i class="fas fa-tv"></i> <span class="hidden-sm-down">Dashboard</span></a>

        <a href="#menu2" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="far fa-chart-bar"></i><span class="hidden-sm-down">SCM</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <div class="collapse" id="menu2">
          <a href="/summaries" class="list-group-item" data-parent="#menu2">OD Summary</a>
          <a href="/status" class="list-group-item" data-parent="#menu2">Dispatch Delivery Receive</a>
        </div>

        <a href="#menu3" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fas fa-calendar-alt"></i><span class="hidden-sm-down">Facility Management</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <div class="collapse" id="menu3">
          <a href="/kitchens" class="list-group-item" data-parent="#menu3">Facility</a>
          <a href="/utensils" class="list-group-item" data-parent="#menu3">Assets</a>
          <a href="/normalmenu_sites/notreceive_status" class="list-group-item" data-parent="#menu3">Utensils Not Received</a>
        </div>
        
        

<%end%>
<%if Administrator? %>
      <a href="/normalmenu_sites/dashboard" class="list-group-item collapsed" data-parent="#sidebar"><i class="fas fa-tv"></i> <span class="hidden-sm-down">Dashboard</span></a>

      <a href="#menu1" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fas fa-th-large"></i><span class="hidden-sm-down">CRM</span> <i class="fas fa-angle-right" aria-hidden="true"></i></a>
        <div class="collapse" id="menu1">
          <a href="/tenants" class="list-group-item" data-parent="#menu1">CRM Info</a>
          <a href="/software_setups" class="list-group-item" data-parent="#menu1">Software Setup</a>
          <a href="/enrol_index" class="list-group-item" data-parent="#menu1">Individual Enrollment</a>
          <a href="/customer_view_controls" class="list-group-item" data-parent="#menu1">View Control</a>
        </div>
      <a href="#menu2" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="far fa-chart-bar"></i><span class="hidden-sm-down">SCM</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
      <div class="collapse" id="menu2">
          <a href="/summaries" class="list-group-item" data-parent="#menu2">OD Summary</a>
          <a href="/parent_orders" class="list-group-item" data-parent="#menu2">Individual Orders</a>
          <a href="/normalmenu_sites" class="list-group-item" data-parent="#menu2">Assign Menu</a>
          <a href="/status" class="list-group-item" data-parent="#menu2">Dispatch Delivery Receive</a>
          <a href="/auditreviews" class="list-group-item" data-parent="#menu2">Audit</a>
          <a href="/feedbacks" class="list-group-item" data-parent="#menu2">Feedback</a>         
      </div>
        

<%end%>

<% if AuditManager? %>
       <a href="/normalmenu_sites/dashboard" class="list-group-item collapsed" data-parent="#sidebar"><i class="fas fa-tv"></i> <span class="hidden-sm-down">Dashboard</span></a>

       <a href="#menu2" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="far fa-chart-bar"></i><span class="hidden-sm-down">SCM</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
      <div class="collapse" id="menu2">
          <a href="/auditreviews" class="list-group-item" data-parent="#menu2">Audit</a>
          <a href="/feedbacks" class="list-group-item" data-parent="#menu2">Feedback</a>         
      </div>



<%end%>

</div>


    </nav>

    <div class="page active">
      <header class="header">
        <nav class="navbar">
          <div class="container-fluid">
            <ul class="list-unstyled header_nav">
              <li><a id="sidebarCollapse" href="#" class="menu-btn"><i class="fas fa-bars" aria-hidden="true"></i></a></li>
              <li class="li_width">
                <ul class="list-unstyled">
                  <li><a href="/kitchen_users/logout" class="nav-link logout"><i class="fas fa-power-off"></i></a></li>
                </ul>
              </li>
            </ul>

          </div>
        </nav>
      </header> 
      
      <section class="page-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 dashboard-content">
              <h1 class="page-title">Dashboard
                <span class="float-right">
                  <a href="/point_of_sales">Instant Orders</a>|
                  <a href="/menu_masters">All Menu</a>|
                  <a href="/normalmenu_sites/menu_assign">Assign Menu</a>|
                  <a href="/enrolments/approval_screen">Approval</a>|
                  <a href="/daily_cook_sheet">Cook Sheet</a>
                </span>
              </h1>

              <div class="row total">
                <%= render :partial => 'order_list' %>
              </div>
          
              <div class="row today-order">
                <div class="col-md-12">
                  <h1>Today's Order</h1>
                  <% if @menu_customers.present? %>
                    <%= render :partial => 'today_order' %>
                  <% else %>
                    <div class="card"><p>No Orders Found!!</p></div>
                  <% end %>
                </div>
              </div>

              <div class="row recent">
                <%= render :partial => 'recent_orders' %>
                <%= render :partial => 'vessels_uncollected' %>
              </div>
            </div>

            <div class="col-md-2 live-notification">
              <div class="live-bg">
                <h1>New Order</h1>
                <div class="new-order" id="refresh">
                  <%= render :partial => 'new_orders' %>
                </div>
                <h1>Delivery Status</h1>
                <div class="delivery-status">
                  <%= render :partial => 'dispatch_delivery_status' %>
                </div>
              </div>
            </div>
          </div>
        </div>        
      </section>

      <footer class="main-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <p><i class="fa fa-copyright"></i> Copyright 2017 Habitos. All Rights Reserved.</p>
            </div>
            <div class="col-sm-6 text-right">
              <p>Design by&nbsp;<a href="http://www.altiussolution.com/" target="_blank" class="external">Altius Technology Solutions</a></p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/assets/layout.js"></script>

  <script>
    $(document).ready(
      function() {
        setInterval(function() {
          //$("#refreshscribbles").html("<%#= j(render(:partial=> 'news/newsfeed', :locals=>{:news=>@news}).html_safe) %>");
          $("#refresh").html("<%= j(render(:partial=> 'new_orders').html_safe) %>");
          
          console.log("Refreshed");
        }, 3000);
      });
  </script>

</body>
</html>


