<% id = session[:kitchen_user_id] %>

<style>
  .panel-heading{
    background-color: #E9E9E9!important;
  }
  .addrow{
    padding-top:5px;
    padding-bottom:5px;
    background-color: #F9F9F9;
  }
  .card{
    width: 5.5rem;
    height: 5.5rem;
    border-top: solid;
    border-top-color: orangered;
    padding: 13px;
    background-color: #ddd;
  }
  .card-body{
    padding: 5px;
  }
  .plancount{
    float: left;
    margin-left: 18px;
    margin-top: 5px;
}
.title{
  font-size: 20px;
    color: #353535;
    float: left;
}
.meal_course{
margin-top: 15px;
margin-left: 18px;
}


</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script> -->


<script src="/assets/angular.js"></script>
<script type="text/javascript" src="/assets/Chart.bundle.min.js"></script>
<link href="/assets/medias.css" rel="stylesheet">
<link href="/assets/new_menu.css" rel="stylesheet">
<link href="/assets/old_menu.css" rel="stylesheet">
<link href="/assets/menuplaner.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
<script src="//cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.js"></script>
<link href="//cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.css" rel="stylesheet">
<body>
  <div class="row container_pad" ng-app="dragDrop" ng-controller="DragDropCtrl">
    <div class="col-md-12 loading" ng-show="spinner">
      <img src="/assets/green_spinner.gif" height="70">
    </div>
    <div class="col-md-9 menu_body">
      <div class="title_head">
        <h1 class="planner-title">MENU PLANNER</h1>
      </div>

       <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#test"> New Plan</button>
       
        <div class="modal fade" id="test" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Plan Info</h4> 
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                        <label>Plan Name</label>
                        <input type="text" name="plan-name" ng-model="menu_plan_name" class="form-control">
                        </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                        <label>Student Type</label>
                        <select name="stud_type" class="form-control">
                          <option>Please Select</option>
                          <option>Primary</option>
                          <option>Secondary</option>
                          <option>Corporate</option>
                        </select>
                        </div>
                        
                  </div>
                  </div>
                  <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                        <label>Spread Type</label>
                        <select name="stud_type" class="form-control">
                          <option>Please Select</option>
                          <option> 3 Spread</option>
                          <option> 5 Spread</option>
                          <option>Corporate</option>
                        </select>
                        </div>
                        
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                        <label>Meal Type</label>
                        <select name="stud_type" class="form-control">
                          <option>Please Select</option>
                          <option>General</option>
                          <option>Jain</option>
                        </select>
                        </div>
                        
                  </div>


             
                </div>
                </div>
              <div class="modal-footer"> 
                <button type="button" class="btn btn-primary btn-sm rounded-s" data-dismiss="modal">Save</button>          
                <button type="button" class="btn btn-danger btn-sm rounded-s" data-dismiss="modal">Close</button>        
              </div>
            </div> 
            </div>
          </div>

      <div class="row">
      <div class="col-md-3">
          <div class="form-group">
            <label><a href="/normalmenu_sites/menu_planner?name=test" class="btn btn-link">Test</a></label>
            <label><a href="/normalmenu_sites/menu_planner?name=test" class="btn btn-link">Test01</a></label>
            <label><a href="/normalmenu_sites/menu_planner?name=test" class="btn btn-link">Test02</a></label>
            </div>
      </div>
      </div>

          <script type="text/javascript">
var app = angular.module('dragDrop', ['moment-picker']);
app.controller('DragDropCtrl', function($scope,$http,$rootScope,$window,$filter) {
  $scope.spinner=false;
var plannerURL="http://192.168.1.73:3005"
var PimURL="http://192.168.0.48:8080"
  $scope.spinner=false;

});
</script>