<% id = session[:kitchen_user_id] %>

<style>
  .panel-heading{
    background-color: #E9E9E9!important;
  }
  .addrow{
    padding-top:5px;
    padding-bottom:5px;
    background-color: #F9F9F9;
  }
  .card{
    width: 5.5rem;
    height: 5.5rem;
    border-top: solid;
    border-top-color: orangered;
    padding: 13px;
    background-color: #ddd;
  }
  .card-body{
    padding: 5px;
  }
  .plancount{
    float: left;
    margin-left: 18px;
    margin-top: 5px;
}
.title{
  font-size: 20px;
    color: #353535;
    float: left;
}
.meal_course{
margin-top: 15px;
margin-left: 18px;
}


</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script> -->


<script src="/assets/angular.js"></script>
<script type="text/javascript" src="/assets/Chart.bundle.min.js"></script>
<link href="/assets/medias.css" rel="stylesheet">
<link href="/assets/new_menu.css" rel="stylesheet">
<link href="/assets/old_menu.css" rel="stylesheet">
<link href="/assets/menuplaner.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
<script src="//cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.js"></script>
<link href="//cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.css" rel="stylesheet">
<body>
  <div class="row container_pad" ng-app="dragDrop" ng-controller="DragDropCtrl">
    <div class="col-md-12 loading" ng-show="spinner">
      <img src="/assets/green_spinner.gif" height="70">
    </div>
    <div class="col-md-9 menu_body">
      <div class="title_head">
        <h1 class="planner-title">MENU PLANNER</h1>
      </div>

      <div class="row">
      
     <!--  <div class="col-md-3">
          <div class="form-group">
            <label>Date</label>
             <input type="date" name="" ng-model="menu_assign_date" class="form-control" date-format/>
             
         </div>
      </div> -->
      <!-- <input moment-picker="ctrl.dateFormatted" ng-model="menu_assign_date" format="DD/MM/YYYY">  -->

      <!-- <div class="input-group"
         moment-picker="ctrl.datepicker"
         format="YYYY-MM-DD">
        <span class="input-group-addon">
            <i class="octicon octicon-calendar"></i>
        </span>
        <input class="form-control"
               placeholder="Select a date"
               ng-model="menu_assign_date"
               ng-model-options="{ updateOn: 'blur' }">
      </div> -->


      
      <div class="col-md-3">
          <div class="form-group">
            <label>Plan For</label>
             <select name="no_of_days" required id="no_of_days" class="form-control" ng-model="no_of_days" ng-change ="click(no_of_days)" >
              <option value="1">1 Day</option>
              <option value="3">3 Days</option>
              <option value="8">8 Days</option>
              <option value="10">10 Days</option>
              <option value="15">15 Days</option>
              <option value="30">30 Days</option>
            </select>
          </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
            <label>Show Qty</label>
            <input type="checkbox" ng-model="qty" name="qty" class="form-control" >
        
        </div>
      </div>
  </div>
  
  <!-- <div class="col-md-12 menu_header">
        <center><b><label>Breakfast</label><span style="float:right"> <a href="#"><i class="fa fa-plus"></i></a></span></b></center>
      
  </div>
  <div class="col-md-12 menu_items">
      <table class="table table-striped table-bordered table-hover display" cellspacing="0" width="50%" >
          <thead >
             <th ng-repeat="date in dateRange">Day {{date}}</th>
          </thead>
          <tbody>
          <tr>
          <td ng-repeat="date in dateRange track by $index">
            <select name='country' id="category" class="form-control cate1"    ng-model="category_type[$index]" ng-options="cate as cate.FoodCategory for cate in categories.RecepieCategoryWise" required >
            <option value="" disabled>Select</option>
            </select>
            <span class="showrecipe"></span>
              <select name='recipe_name' required id="reciperecipe" class="form-control" ng-model="recipe[$index]"  ng-options="recipe as recipe.RecepieName for recipe in category_type[$index].Foodrecipielist" ng-show="category_type">
              <option value="" disabled>Select</option>
              </select>

            
          </td>
            
          </tr>
            
          </tbody>                       
      </table>
  </div> -->

  <div class="panel panel-default" ng-repeat="category in mealtime track by $index" ng-init="parentIndex = $index">
     <div class="panel-heading">   
      <h4 class="panel-title">
        <span>{{category.category_name}}</span>
        <span class="icon" data-toggle="collapse" href="#{{$index}}" style="float:right">
          <span> <a href="#"><i ng-class="showIcon[{{$index}}]==true? 'fa fa-minus':'fa fa-plus'" ng-click="showClickIcon($index)"></i></a></span>
        </span>
      </h4>
     </div>
     <div id="{{$index}}" class="panel-collapse collapse">
      
      <table class="table table-striped table-bordered table-hover display" cellspacing="0">
          <thead>
             <th style="background-color: #FFFFFF;" ng-repeat="date in dateRange">Day {{date}}</th>
          </thead>
          <tbody>
           
          <tr ng-repeat="data in addRow[$index]">
          <td ng-repeat="date in dateRange track by $index" ng-init="data = $index +1">
            <select name='country' id="category" class="form-control cate1" ng-model="category_type" ng-options="cate as cate.FoodCategory for cate in categories.RecepieCategoryWise" required style="width:100%" ng-change="recipePush(category_type)" ng-hide="recipe">
            <option value="">Select</option>
            </select>
            <span class="showrecipe">
              <select name='recipe_name' required id="reciperecipe" class="form-control" ng-model="recipe" ng-change="recipePush(parentIndex,$parent.$index,$index,recipe,category.category_name,date)" ng-options="recipe as recipe.RecepieName for recipe in category_type.Foodrecipielist" ng-show="category_type" style="width:100%">
              <option value="">Select</option>
              </select>
                <input  ng-show="category_type && qty"  type="number" name="qty" value="{{getAlldata[category.category_name][0]['Day'+data][$parent.$index].qty}}">
              </span>
              <!-- <button ng-click="recipePush(parentIndex,$parent.$index,$index,category_type.Foodrecipielist[0],category.category_name,date)">dfgd</button> -->
            
          </td>
            
          </tr>
           
          </tbody>                       
      </table>
      <div class="addrow" ng-click="rowAdd($index,category.category_name)">
        <center><label>+ Add row</label></center>
      </div> 
     </div>   
  </div>
  
  <div class="row">
   
  </div>
  </div>
  <div class="col-md-3">
  <div class="row">
  <div class="plancount">
      <div class="card">
          <div class="card-body">
            <h3 class="card-title" style="color: black;"><label><b>Planned</b></label></h3>
            <h2 style="color:  orangered; padding: 10px;"><label><b>{{assigned}}</b></label></h2>
                       
          </div>
      </div>
  </div>
  <div class="plancount">
      <div class="card">
          <div class="card-body">
            <h3 class="card-title" style="color: black;"><label><b>Un Planned</b></label></h3>
            <h2 style="color:  orangered; padding: 10px;"><label><b>{{unassigned}}</b></label></h2>
                       
          </div>
      </div>
  </div>
  </div>
  <div class="row">
  <div class="meal_course">
 <!--    <label class="title">Student Type</label><br><br>
    <div class="items" ng-repeat="student in student_type">  
     <input type="radio" ng-model="$parent.studenType" name="studentype" value="{{student.type}}" ng-click="stud_type('Default')"> {{student.type}}
    </div>
  </div>
  <div class="meal_course">
    <label class="title">Spread Type</label><br><br>
    <div class="items" ng-repeat="spread in SpreadName">  
    <input type="radio" ng-model="$parent.spread_name" name="spread" value="{{spread.spreadtype}}" ng-click="stud_type('Default')"> {{spread.spreadtype}}
    </div>
  </div>
  <div class="meal_course">
    <label class="title">Meal Type</label><br><br>
    <div class="items" ng-repeat="meal in meal_type">
      <input type="radio" ng-model="$parent.mealname" name="meal_type" value="{{meal.name}}" ng-click="stud_type(meal)">{{meal.name}}
    </div>
  </div> -->
  <!-- <div class="meal_course">
    <label class="title">School/Corporate</label><br><br>
    <input type="checkbox" ng-model="$parent.tenant" name="tenant_type" value="{{tenant.name}}"> Altius
  </div> -->
  <div class="meal_course" ng-init="onInit()">
    <label class="title">School/Corporate</label><br><br>
    <div class="items" ng-repeat="list in tenant_list">
      <input type="checkbox" ng-model="list.checked"  ng-checked="list.checked" ng-change="check()" name="tenant_type" value="{{list.name}}">{{list.name}}
    </div>
  </div>
  
  <div class="meal_course">
   <button class="btn btn-primary" ng-click="menuAssign()" ng-disabled="!menu_plan_name || !menu_assign_date || !no_of_days || !studenType || !spread_name || !mealname || !tenantCheckStatus">Assign</button>
  </div>
  
  

  
  

  </div>
</div>
</div>

</body>

<script type="text/javascript">
var app = angular.module('dragDrop', ['moment-picker']);
app.controller('DragDropCtrl', function($scope,$http,$rootScope,$window,$filter) {

$scope.data =[];
    $scope.arr=["l","b","d"]
   
   for(var i in $scope.arr){

   var ss = {
      [$scope.arr[i]]: {
        "day1":
          { "name": "", "qty": "" },
        "day2":
          { "name": "", "qty": "" },
        "day3":
          { "name": "", "qty": "" }
      }
  }
$scope.data.push(ss);
}



//var plannerURL="http://api.idlidabba.com"
//var plannerURL="http://api.learnstein.com:81"
var plannerURL="http://192.168.1.73:3005"
var PimURL="http://192.168.0.48:8080"
$scope.spinner=true;
$scope.category_type="";
$scope.recipe="";
$scope.getAlldata=[];
$scope.no_of_days="";
var count = $scope.no_of_days;
$scope.menu_plan_name="";
$scope.menu_assign_date="";

$scope.student_type = [{
 "id":1,
 "type":'Primary' 
},{
 "id":2,
 "type":'Secondary',

},{
 "id":3,
 "type":'Corporate',
  
}];

$scope.studenType=$scope.student_type[0].type;

//Spread API
$scope.onInit=function(){
  $http.get(PimURL+"/pimcore/api/FoodRecepie/SpreadName"
  ).then(function(response){
  $scope.SpreadName=[];
  
  for(var i=0;i<response.data.SpreadNames.length;i++){
   $scope.SpreadName.push({"id":i+1,"spreadtype":response.data.SpreadNames[i].spreadtype});
  }
  
   $scope.spread_name=$scope.SpreadName[0].spreadtype;
   $http.get(plannerURL+"/api/v1/all_food_categories").then(function(response){
    $scope.meal_type = response.data
    $scope.mealname= $scope.meal_type[0].name;
    $scope.mealId=$scope.meal_type[0].id;
    $scope.stud_type($scope.meal_type[0]);
   });


  $http.get(plannerURL+"/api/v1/menu_planners/tenant_count_details").then(function(response){
     $scope.assigned = response.data.assigned;
     $scope.unassigned = response.data.unassigned;

   });

  
  });
}



$scope.stud_type=function(test){

 if(test != "Default"){    
    $scope.mealId=test.id;
 }
 
$http.get(plannerURL+'/api/v1/tenant_details/student_filter?spread_type='+$scope.spread_name+'&&stud_type='+$scope.studenType+'&&food_category_id='+$scope.mealId).then(function(res){
   var data=res.data;
   $scope.tenant_list=[];
   $scope.tenant_list=data.map(function(res){
 
     return {"id":res.tenant.id,"name":res.tenant.name,"checked":false,"spread_type":res.spread_type,"stud_type":res.stud_type}
     
   });
   $scope.tenantCheckStatus=false;
   $scope.recipePush('test');
  });
}


$scope.check=function(){
  $scope.tenant_list.some(checked);
  function checked(check){
    return check.checked==true
  }
  $scope.tenantCheckStatus=$scope.tenant_list.some(checked);
}
 

$http.get(plannerURL+"/api/v1/all_food_categories"
).then(function(response){
  $scope.meal_type = response.data
  $scope.mealname= $scope.meal_type[0].name;
});


// $http.get(plannerURL+"/api/v1/all_tenants").then(function(response){
//    var data=response.data;
//    $scope.tenant_list=[];
//    $scope.tenant_list=data.map(function(res){
 
//      return {"id":res.id,"name":res.name,"checked":false}
     
//    });
// });




$scope.showClickIcon=function(index){

  for(var i=0;i<$scope.showIcon.length;i++){
    if(i==index){
     
       $scope.showIcon[i]==false? $scope.showIcon[i]=true:$scope.showIcon[i]=false;
      
    }
  }

}

$('.plandetail').click(function() {
    $('.plndetails').toggle('slow');
      icon = $('.plandetail').find("i");
      if (icon.hasClass("fa-plus"))
      {
          icon.addClass("fa-minus").removeClass("fa-plus");
      }
      else
      {
        icon.addClass("fa-plus").removeClass("fa-minus");
      }

});
$('.addplan').click(function() {
    $('.addplaninfo').toggle('slow');
     icon = $('.addplan').find("i");
      if (icon.hasClass("fa-plus"))
      {
          icon.addClass("fa-minus").removeClass("fa-plus");
      }
      else
      {
      icon.addClass("fa-plus").removeClass("fa-minus");
      }
    
});

$http.get(PimURL+"/pimcore/api/FoodRecepie/categorywiserecipie"
).then(function(response){
  $scope.categories = response.data;

})


  $scope.click=function(test){
   
    $scope.dateRange=[];
    if($scope.previousDays==undefined){
      $scope.getAlldata=[];
    }

    for(var i=1;i<=$scope.no_of_days;i++){
     $scope.dateRange.push(i);

     }
    
    $scope.addRow=[];
    for(var j=0;j<$scope.mealtime.length;j++){  
     
      var data=0;
      $scope.addRow.push([data]);

    }

    for(var k in $scope.getAllCategories){
     if($scope.previousDays==undefined){
      var initiate=1
     }else{
      var initiate=parseInt($scope.previousDays)+1;
     }
        var dayValue=[]

        for(var l=initiate;l<=$scope.no_of_days;l++){
          var day = 'Day'+''+l.toString();
          var data={
                  [day] : [{"name":'',"qty":''}]
                 };
          if(dayValue.length==0){ 
           dayValue=[data]
          }else{
           dayValue[0][day]=[{"name":'',"qty":''}];
          }
        }
        
        if($scope.getAlldata[$scope.getAllCategories[k]]==undefined){
          
          $scope.getAlldata[$scope.getAllCategories[k]]=dayValue;
        }else if($scope.previousDays<$scope.no_of_days){
          var data=[];
        
          for(var l=1;l<=$scope.previousDays;l++){
            var day = 'Day'+''+l.toString();
           
            for(var i in $scope.getAlldata[$scope.getAllCategories[k]][0][day]){
               if(i==0){
                 var push={
                    [day] : [$scope.getAlldata[$scope.getAllCategories[k]][0][day][0]]
                 };

                
               
                 if(data.length==0){ 
                  data.push(push);
                
                 }else{
                  data[0][day]=[$scope.getAlldata[$scope.getAllCategories[k]][0][day][0]];
                 }
               }
            }
           

          }

          

          for(var l=initiate;l<=$scope.no_of_days;l++){
             var day = 'Day'+''+l.toString();
             data[0][day]=[{"name":'',"qty":''}];
           }
          console.log(data) 
           
          $scope.getAlldata[$scope.getAllCategories[k]]=data;
         
        }else{
         if($scope.previousDays>$scope.no_of_days){
          
          var data=[];
          for(var l=1;l<=$scope.no_of_days;l++){
            var day = 'Day'+''+l.toString();
            //console.log(day)
            console.log($scope.getAlldata[$scope.getAllCategories[k]][0][day])
           if($scope.getAlldata[$scope.getAllCategories[k]][0][day]==undefined){
             var push={
                  [day] : [{"name":'',"qty":''}]
                 };
           }else{
             for(var i in $scope.getAlldata[$scope.getAllCategories[k]][0][day]){
               if(i==0){ 
                      var push={
                                [day] : [$scope.getAlldata[$scope.getAllCategories[k]][0][day][0]]
                              };
                }        
              }
           }
            
            if(data.length==0){ 
             data.push(push)
            }else{
             data[0][day]=push[day];
            }
          }

          $scope.getAlldata[$scope.getAllCategories[k]]=data;
         }else{
         
         } 
        }
        
        
     // }else if($scope.previousDays<test){
     //   var dayValue=[]
     //   var value=parseInt($scope.previousDays)+1;
     //   for(var l=value;l<=$scope.no_of_days;l++){
     //      //console.log(l)
     //      var day = 'Day'+''+l.toString();
     //      var data={
     //              [day] : {"name":'',"qty":''}
     //             };
     //       if(dayValue.length==0){ 
     //        dayValue=[data]
     //       }else{
     //        dayValue[0][day]={"name":'',"qty":''};
     //       }
     //    }
     //    //console.log(dayValue[0])
     //    //console.log($scope.getAlldata[$scope.getAllCategories[k]][0])
     //    var tr =dayValue[0];
     //    //var check=$scope.getAlldata[[$scope.getAllCategories[k]]
     //    //console.log(check)
     //    var datavalue=[tr,$scope.getAlldata[$scope.getAllCategories[k]][0]]
     //     console.log(datavalue)
     //     console.log(datavalue[0])
                 
     //    //$scope.getAlldata[$scope.getAllCategories[k]]=data;
     //    console.log($scope.getAlldata)
     //    //console.log()
     //   // var data=$scope.getAlldata[$scope.getAllCategories[k]][0].concat(dayValue[0]);
     //    //console.log($scope.getAlldata[$scope.getAllCategories[k]])
     //    //console.log(data)
     //    //$scope.getAlldata[$scope.getAllCategories[k]].splice(0,0,dayValue[0])
     //    //console.log($scope.getAlldata)
     //    //console.log(dayValue)
     //    //$scope.getAlldata[$scope.getAllCategories[k]]=dayValue[0];
     // }else{

     // }

      // }  
    }
    $scope.previousDays=parseInt(test);
    console.log($scope.getAlldata)
  }

$scope.rowAdd=function(index,categoryName){
  console.log($scope.addRow)
  for(var i=0;i<$scope.addRow.length;i++){
    if(i==index){
      $scope.addRow[i].push($scope.addRow[i].length)
    }
  }
  
  for(var i in $scope.getAlldata){
  
    if(i==categoryName){
    
          var dayValue=[];
          for(var l=1;l<=$scope.no_of_days;l++){
           //  var day = 'Day'+''+l.toString();
           //  var data={
           //          [day] : [{"name":'',"qty":''}]
           //         };
           // if(dayValue.length==0){ 
           //  dayValue=[data]
           //  }else{
           //    dayValue[0][day]=[{"name":'',"qty":''}];
           //  }
          }

          //$scope.getAlldata[i].push(dayValue[0]);
          for(var j in $scope.getAlldata[i]){
            for(var k in $scope.getAlldata[i][j]){
              $scope.getAlldata[i][j][k].push({"name":'',"qty":''});

            } 
          }
          
      
    } 
    
  }
  console.log($scope.getAlldata)
}

$scope.recipePush=function(parentIndex,parentindex,index,recipe,categoryName,date){
   
  if(parentIndex!='test'){
    for(var i in $scope.getAlldata){
      
    
      if(i==categoryName){
          for(var a in $scope.categories.RecepieCategoryWise){
           for(var b in $scope.categories.RecepieCategoryWise[a]){
            for(var k in $scope.categories.RecepieCategoryWise[a][b]){
              if(recipe==null || recipe==undefined || recipe==""){
                var dayNum='Day'+date;
                
                 $scope.getAlldata[i][0][dayNum][parentindex].name="";
                 $scope.getAlldata[i][0][dayNum][parentindex].qty="";
              
               }else{
                var dayNum='Day'+date;
                if($scope.categories.RecepieCategoryWise[a][b][k].RecepieName==recipe.RecepieName){
                  $scope.getAlldata[i][0][dayNum][parentindex].name=recipe.RecepieName;
                  for(var l in $scope.categories.RecepieCategoryWise[a][b][k].SpreadMaster){                
                    
                        if($scope.categories.RecepieCategoryWise[a][b][k].SpreadMaster[l].clienttype==$scope.studenType && $scope.categories.RecepieCategoryWise[a][b][k].SpreadMaster[l].spreadtype==$scope.spread_name){
                         
                          $scope.getAlldata[i][0][dayNum][parentindex].qty=$scope.categories.RecepieCategoryWise[a][b][k].SpreadMaster[l].SpreadQty;

                        }                
                    
                  }
                  

                }  
               
               } 
            } 
          }
         }
      }
   
    }    
  }else{
   
    for(var i in $scope.getAlldata){
      for(var j in $scope.getAlldata[i]){
        for(var k in $scope.getAlldata[i][j]){
         for(var l in $scope.getAlldata[i][j][k]){
          if($scope.getAlldata[i][j][k][l].name==""){
            
          }else{
            
            if($scope.getAlldata[i][j][k][l].name!=""){
            
              for(var a in $scope.categories.RecepieCategoryWise){
               for(var b in $scope.categories.RecepieCategoryWise[a]){
                for(var c in $scope.categories.RecepieCategoryWise[a][b]){
                   
                  if($scope.categories.RecepieCategoryWise[a][b][c].RecepieName==$scope.getAlldata[i][j][k][l].name){
                   
                    for(var d in $scope.categories.RecepieCategoryWise[a][b][c].SpreadMaster){
         
                      if($scope.categories.RecepieCategoryWise[a][b][c].SpreadMaster[d].clienttype==$scope.studenType && $scope.categories.RecepieCategoryWise[a][b][c].SpreadMaster[d].spreadtype==$scope.spread_name){
                       
                        $scope.getAlldata[i][j][k][l].qty=$scope.categories.RecepieCategoryWise[a][b][c].SpreadMaster[d].SpreadQty;
                       
                        break;
                      }else{
                       
                        $scope.getAlldata[i][j][k][l].qty="";
                        
                      }
                    }
                  }
                }
               }
              }  
            }
          }
         }
        }
      }
    } 
  }  
  console.log($scope.getAlldata)
}


$scope.spinner=false;
$http.get(plannerURL+"/api/v1/all_production_items")
    .then(function(response) {
        $rootScope.data = response.data;
        $scope.spinner=false;
    },function(error){
        $scope.spinner=false;
    })

$scope.showIcon=[];

$http.get(plannerURL+"/api/v1/categories")
    .then(function(response) {
        $scope.addRow=[];
        $scope.getAllCategories=[];
        $scope.beforePush=[];
        $scope.mealtime = response.data;
        console.log($scope.mealtime) 
        for(var i in $scope.mealtime){
          console.log(i)

          console.log($scope.mealtime)
          $scope.showIcon.push(false)
          var data=0;
          $scope.addRow.push([data]);
          $scope.beforePush.push(i)
          $scope.getAllCategories.push($scope.mealtime[i].category_name)
        } 
})

$scope.menuAssign=function(){
  $scope.menu_assign_date=$filter('date')($scope.menu_assign_date, "dd-MM-yyyy");
  $scope.getTenant=$scope.tenant_list.filter(function(res){
    return res.checked;
  }).map(function(res){
    return {"id":res.id,"stud_type":res.stud_type,"spread_type":res.spread_type,"plan_name":$scope.menu_plan_name,"date":$scope.menu_assign_date, "food_category_id": $scope.mealId, "plan_for": $scope.no_of_days}
  });

  var allData=[];
  for(var i in $scope.getAlldata){
    allData.push({[i]:$scope.getAlldata[i]})
  }


  var data={"data":[{"tenant":$scope.getTenant},{"meal_details":allData}]}

           console.log(data)

  $http.post(plannerURL+"/api/v1/menu_planners/create",data).then(function(res){
    console.log(res.data);
    // $scope.menu_plan_name="";
    // $scope.menu_assign_date="";
    // $scope.no_of_days="";
    location.href="/normalmenu_sites/menu_cycle";
  })
}

// $scope.removeitem=function(item){

//   var index=$rootScope.data.sub_production_items.findIndex(x =>x.name == item.name) 
  
//   $rootScope.data.sub_production_items.splice(index, 1);
//   $scope.production_data.splice(index, 1);
//   $scope.production_dataval.splice(index, 1);
//   $rootScope.data.production_items.push(item)
// }

// $scope.removedata=function(index,product){
//   for(var i in $scope.production_dataval){
//     if($scope.production_dataval[i].production_item_id == product.production_item_id){
//     //var productIndex=$scope.production_dataval[i].indexOf(product.production_item_id)
//      var productIndex=$scope.production_dataval.findIndex(x => x.production_item_id==$scope.production_dataval[i].production_item_id)
//       $scope.production_dataval.splice(productIndex, 1);
//     }

//     //$scope.production_dataval($scope.production_dataval[i].production_item_id)
//   }
//   for(var l in $scope.predata){
//     for(var x in $scope.predata[l]){
//       for(var y in $scope.predata[l][x]){
//         if($scope.predata[l][x][y].production_item_id == product.production_item_id){
//           var productIndex=$scope.predata[l][x].findIndex(m => m.production_item_id==$scope.predata[l][x][y].production_item_id)
//             $scope.predata[l][x].splice(productIndex, 1);
//         }
//       }
//     }
//   }
 
// }
  
});

app.directive('draggable', function() {
  return function(scope, element, attrs) {
    var el = element[0];
    el.draggable = true; // Make dragable

    // Add event listeners
    el.addEventListener(
      'dragstart',
      function(e) {
        e.dataTransfer.effectAllowed = 'move';
        e.dataTransfer.setData('item_id', this.id);
        e.dataTransfer.setData('origin_id', el.parentElement.id);
        this.classList.add('dragging');
        return false;
      }, false
    );

    el.addEventListener(
      'dragend',
      function(e) {
        this.classList.remove('dragging');
        return false;
      },
      false
    );
  }
});

app.directive('droppable', function() {
  return function(scope, element, attrs) {
    // Get the native element
    var el = element[0];

    // Add event listeners
    el.addEventListener(
      'dragover',
      function(e) {
        e.preventDefault(); // Allow the drop

        // Set effects
        e.dataTransfer.dropEffect = 'move';
        this.classList.add('dragover');
        return false;
      }, false
    );

    el.addEventListener(
      'dragenter',
      function(e) {
        this.classList.add('dragover');
        return false;
      }, false
    );

    el.addEventListener(
      'dragleave',
      function(e) {
        this.classList.remove('dragover');
        return false;
      }, false
    );

    el.addEventListener(
      'drop',
      function(e) {
        this.classList.remove('dragover');

        // Get the data
        var destination = this.id;
        var item_to_move = e.dataTransfer.getData('item_id');
        var origin = e.dataTransfer.getData('origin_id');

        // Call the scope move function
        scope.MoveItem(origin, destination, item_to_move);

        return false;
      }, false
    );
  }
});
app.directive('dateFormat', function() {
  return {
    require: 'ngModel',
    link: function(scope, element, attr, ngModelCtrl) {
      //Angular 1.3 insert a formater that force to set model to date object, otherwise throw exception.
      //Reset default angular formatters/parsers
      ngModelCtrl.$formatters.length = 0;
      ngModelCtrl.$parsers.length = 0;
    }
  };
});

</script>
<script type="text/javascript">
  $(document).ready(function () {
    $(".sidebar").toggleClass("hide-nav");
    $(".wrapper").toggleClass("active");

    $('.scroll').slimScroll({});

    $(".wrapper_rightbar").click(function(){
      $(this).toggleClass("rb_active");
            $("#rightbar").toggleClass("open_right");
            $(".right_sidebar_nav i.fa-chevron-left").toggleClass("fa-chevron-right");
    });
    $(".right_sidebar_nav").click(function(){
      $(".wrapper_rightbar").toggleClass("rb_active");
            $("#rightbar").toggleClass("open_right");
            $(".right_sidebar_nav i.fa-chevron-left").toggleClass("fa-chevron-right");
    });
    
    /*$(".dropdown").click(function(){
      $(this).toggleClass("open")
    });*/  

    $(".dd1").click(function(){
      $(this).toggleClass("open")
    });
        
    $(".dd2").click(function(){
     $(this).toggleClass("open")
    });

    $(".dd3").click(function(){
     $(this).toggleClass("open")
    });

    $(".dd4").click(function(){
      $(this).toggleClass("open")
    });
  

    $(".right_btn").click(function(){
      $(".wrapper_rightbar").toggleClass("rb_active");
            $("#rightbar").toggleClass("open_right");
            $(".right_sidebar_nav i.fa-chevron-left").toggleClass("fa-chevron-right");
    });

    $(".horizontal-tabs ul li a").click(function(){
            $(".horizontal-tabs ul li a").toggleClass("active");
    });    

   $("#tab_scrolls").horizontalTabs();

    

  });
</script>


<style type="text/css">
.menu_header
{
  border-style: solid;
  border-color: #fff;
  border-width: 1px;
  background-color: gainsboro;
  padding: 5px;
}
.menu_items
{
  border-style: solid;
  border-color: #fff;
  border-width: 1px;
   
}
/*.showrecipe {
float: right;

margin-top: -33px;

margin-right: -94px;
*/}

</style>