  <%if utensil.present?%>
<%= nested_form_for(utensil,validate: true) do |f| %>
  <!--% if utensil.errors.any? %>
    <div id="error_explanation">
      <h2><!%= pluralize(utensil.errors.count, "error") %> prohibited this utensil from being saved:</h2>

      <ul>
      <!% utensil.errors.full_messages.each do |message| %>
        <li><!%= message %></li>
      <!% end %>
      </ul>
    </div>
  <!% end %-->
  <article class="content item-editor-page">
    <div class="title-block">
        <h3 class="title"><span class="sparkline bar" data-type="bar"></span> </h3>
    </div>
    <form name="item">
           <!--  <div class="row"> -->
                <div class="form-group">
                <div class="col-xs-6">
                    <label class="control-label">
                      <%= f.label :kitchen_id,"Map to facility" %>                  
                    </label>
                    <%= f.collection_select :kitchen_id, Kitchen.all.order('name'), :id, :name,{:prompt=>true} ,{class: "form-control boxed e1",required: "true"}%>
                </div>
                 
                <div class="col-xs-6" >
                <label class="control-label">
                   <%= f.label :department_id, "Department"%>
                   </label>
                   <%= f.select :department_id ,  options_from_collection_for_select(Department.all.order('name'), :id, :name, selected: f.object.department_id),{:prompt=>true}, {class: "form-control",required: "true", id: "type1" , prompt: "Select"}   %>

                <%#=  select_tag "department", options_from_collection_for_select(Department.all.order('name'), :id, :name,{:prompt=>true}), {class: "form-control",required: "true", id: "type1" , prompt: "Select"} %>

                  </div>
                </div>
                <div class="form-group">

                <div class="col-xs-6">
                <label class="control-label">
                   <%= f.label :depriciation_category,"Depriciation Category"%>          
                </label> 
                
                  <%=f.select :depriciation_category, options_for_select( DepriciationCategory.pluck(:name,:id), selected: f.object.depriciation_category),{prompt: true},{class: "form-control"}%>  
                </div>

                <div class="col-xs-6">
                <label class="control-label">
                   <%= f.label :purchasedate,"Purchase Date"%>          
                </label>      
                  <%= f.date_field :purchase_date ,{class: "form-control"}%>
                </div>
              </div>

              <div class="form-group">
          
                <div class="col-xs-6">
                <label class="control-label">
                        <%= f.label :radio,"Select"%>       
                </label>
                <br>
                  <%=f.radio_button :asset_type, "Transit" %>Transit
                  <%=f.radio_button :asset_type, "external" %>External
                  <%=f.radio_button :asset_type, "internal" %>Internal             
              
              </div>
                 <div class="col-xs-6">
                <label class="control-label">
                   <%= f.label :vendor,"Vendor"%>          
                </label>      
                  <%= f.text_field :vendor ,{class: "form-control"}%>
                </div>
                </div>

              <div class="form-group">
                <div class="col-xs-6">
                    <label class="control-label">
                    <%= f.label :utensil_name,"Utensil Name" %>
                     </label>
                     <div class="form-group"> 
                     <%= f.select "utensilname_id" , options_for_select(Utensilname.pluck(:name,:id),selected: f.object.utensilname_id),{prompt: true},{class: "form-control boxed "} %>
                     </div>
               </div>  

               <div class="col-xs-6">
                  <label class="control-label">
                     <%= f.label :description,"Description" %>
                  </label>
                   <div class="form-group"> 
                      <%= f.text_area :description, class: "form-control boxed " %>
                   </div>
                </div>             
                
              </div>
          

              <div class="form-group">

               <div class="col-xs-6">
                <label class="control-label">
                   <%= f.label :amc,"Annual maintenance cost"%>          
                </label>      
                  <%= f.date_field :amc , class: "form-control"%>
                </div>
       

                <div class="col-xs-6">
                  <label class="control-label">
                    <%= f.label :tare_weight,"Body Weight" %>
                  </label>
                  <div class="form-group"> 
                    <%= f.text_field :tare_weight, class: "form-control boxed " %>
                  </div>
                 </div>
               </div>

               <div class="form-group">
                 <div class="col-xs-6">
                  <label class="control-label">
                    <%= f.label :lid_weight,"Lid Weight" %>
                  </label><div class="form-group"> 
                    <%= f.text_field :lid_weight, class: "form-control boxed " %>
                  </div>
                 </div>
                 
                 <div class="col-xs-6">
                  <label class="control-label">
                    <%= f.label :price,"Price" %>
                  </label><div class="form-group"> 
                     <%= f.text_field :price, class: "form-control boxed " %>
                 </div>
                 </div>
                  
              </div>
                 
               
              <div class="form-group">
                 <div class="col-xs-6">
                <label class="control-label">
                   <%= f.label :vol,"Volume"%>          
                </label>      
                  <%= f.text_field :volume ,{class: "form-control"}%>
                </div>
                 
                  <div class="col-xs-6">
                <label class="control-label">
                        <%= f.label :count,"Count"%>          
                </label>                
                    <%= f.text_field :count, class: "form-control boxed ", required: "true" %>
                    
                </div>
              
               </div>
                 
               <div class="form-group">

                <div class="col-xs-6">
                    <label class="control-label">
                        <%= f.label :status%>
                    </label> 
                            <%= f.select :tracking, options_for_select(["Maintainence" , "Inhouse" ,"Dispatched", "Resale", "Breakage","Missing"], selected: utensil.tracking),{include_blank: "Please Select"},{class: "form-control boxed" ,required: "true", id: "type2"  }%>
                </div>
                <div class="col-xs-6">
                    <%=f.label :depriciation_percentage%>
                    <%=f.text_field :depriciation_percentage,class: "form-control boxed "  %>
                </div>

               </div>
                    <div class="col-xs-12 " id="tasks">
                      <span class="body-header">
                      <h3 class="modal-title" >ADD RFID </h3>
                      </span>
                     <%= f.fields_for :tags  do |task|%>

                      <div class="col-xs-5">
                        <label class="control-label">
                        <%= f.label :rfid," Tag RFID"%>          
                        </label>      
                        <%=task.text_field :rfid ,{class: "form-control"}%>
                      </div>
                      <div class="col-xs-5">
                        <label class="control-label">
                        <%= f.label :warrenty,"Warrenty"%>          
                        </label>      
                        <%#= f.fields_for :warrenty do |task|%>
                        <%=task.text_field :warrenty ,{class: "form-control"}%>
                      </div>
                      <div class="col-xs-2">
                        <br>
                          <%= task.link_to_remove "<i class 'fa fa-trash-o'></i>".html_safe,:class=>"btn btn-danger fa fa-trash-o" ,title:"Remove"%>
                      </div>
                    <%end%>
                    </div>

          <input type="hidden" name="id" value="<%=params["id"]%>" class="utensilid">
          <div class="form-group row mrgn-top">
            <div class="col-sm-10 col-sm-offset-4"><%= link_to "Back",utensils_path,:class=>"btn btn-primary"%> 
              <%= f.submit "submit",:class=>"btn btn-primary"%>
              <%= f.link_to_add "<i class 'fa fa-plus'> Add</i>".html_safe, :tags,:class=>"btn btn-primary gg" ,title:"Add Vessel Info" , :data => { :target => "#tasks" } %>
            <!--   <%#= f.add_child_button "<i class 'fa fa-plus'> Add</i>".html_safe, :tags,:class=>"btn btn-primary gg"%> }%> --></div>
            </div>
 </form>
</article>

<% end %>
<%end%>
<script type="text/javascript">
  $(document).ready(function() { 
    $(".e1").select2();
    var type = $('#type').val();
    var type1= $('#type1').val();
    var id = $('.utensilid').val();
      $.ajax({
      url: '/utensils/fetch_utensil_category',
        data: {upload_status : type, id: id, asset_status : type1},
        dataType: 'script',
         
        });
        if(type =="Single")
        {
          $('.count').hide();

        }
        else
        {
         
          $('.count').show();
        }

  });
</script>

<script>
  $("#type,#type1").change(function(){
      var type = $('#type').val();
      var type1= $('#type1').val();
      $.ajax({
      url: '/utensils/fetch_utensil_category',
        data: {upload_status : type, asset_status : type1},
        dataType: 'script',
         
        });
        if(type =="Single")
        {
          $('.count').hide();
        }
        else
        {
          $('.count').show();

        }
}); 
</script>










