$('.utensil').html("<%= escape_javascript select("department_id","id",@utensil_category.collect {|p| [  p["utensils_category_name"], p["id"]]},{:include_blank => "Please select",selected: @utensil.present? ? @utensil.department_id: nil}, {class: "utensil "})%>");

