


<div class="col-md-12 col-sm-8 body-wrap">
  <div class="body-container"> 
  <div class="body-header">  
<h3 class="modal-title">EDIT-DEPARTMENT</h3>
</div>
<%= render 'form', department: @department %>
</div>
</div>
<%#= link_to 'Show', @department %> |
<%#= link_to 'Back', departments_path %>
