<p id="notice"><%= notice %></p>
<div class="col-md-12 col-sm-8 body-wrap">
  <div class="body-container">
    <div class="body-header">
      <h3>Departments<span><%= link_to 'New Department', new_department_path, :class=>"btn btn-primary btn-sm rounded-s"%> </span></h3>
      <h2>Department Categories</h2>
    </div>
<div class="body-content">
  <div id="dashboard-container">
     <div class="table-container">

<table class="table table-striped table-bordered table-hover display" cellspacing="0" width="100%" id="department">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Edit</th>
    <!--   <th colspan="3"></th> -->
    </tr>
  </thead> 

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.name %></td>
        <td><%= department.description %></td>
        <td><%= link_to '', edit_department_path(department) ,:class=>"fa fa-pencil" %></td>
       <!--  <td><%#= link_to 'Show', department %></td>
        <td><%#= link_to 'Edit', edit_department_path(department) %></td>
        <td><%#= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
</div>
</div>

<%#= link_to 'New Department', new_department_path %>
