

<%= form_for(utensilname) do |f| %>
 <!--  <%# if utensilname.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(utensilname.errors.count, "error") %> prohibited this utensilname from being saved:</h2>

      <ul>
      <%# utensilname.errors.full_messages.each do |message| %>
        <li><%#= message %></li>
      <%# end %>
      </ul>
    </div>
  <%# end %>
 -->
 <article class="content item-editor-page wrap-center">
    <div class="title-block">
        <h3 class="title"><span class="sparkline bar" data-type="bar"></span> </h3>
    </div>
    <form name="item">
        <div class="row">
          <div class="form-group">
            <div class="col-xs-4"> 
 <label class="control-label">
  <div class="field">
    <%= f.label :name , "Name" %>
  </div></label>

   <div class="form-group"> 
    <%= f.text_field :name %>
  </div>

</div>


 <div class="col-xs-4" > 
 <label class="control-label">
  <div class="field">
    <%= f.label :description , "Description" %>
  </div></label>
   <div class="form-group"> 
    <%= f.text_area :description %>
  </div>
</div>

</div>
</div>

<div class="row">
  <div class="actions">
    <div class="col col-md-3">
    <%= f.submit "submit" , :class=>"btn btn-primary" %></div>
    <div class="col col-md-3"> <%= link_to 'Back', utensilnames_path , :class=>"btn btn-primary"%>
  </div>
</div>
</div>

</form>
</article>
<% end %>
