
<div class="col-md-12 col-sm-8 body-wrap">
  <div class="body-container"> 
  <div class="body-header">  
<h3 class="modal-title">EDIT-UTENSIL NAME</h3>
</div>


<%= render 'form', utensilname: @utensilname %>
</div>
</div>


<%#= link_to 'Show', @utensilname %> |
<%#= link_to 'Back', utensilnames_path %>
