<p id="notice"><%= notice %></p>
<div class="col-md-12 col-sm-8 body-wrap">
  <div class="body-container">
    <div class="body-header">
      <h3>Utensil Name<span><%= link_to 'New Utensil Name', new_utensilname_path, :class=>"btn btn-primary btn-sm rounded-s"%> </span></h3>
      <h2>UtensilName Categories</h2>
    </div>
<div class="body-content">
  <div id="dashboard-container">
     <div class="table-container">


<table class="table table-striped table-bordered table-hover display" cellspacing="0" width="100%" id="utensilnames">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @utensilnames.each do |utensilname| %>
      <tr>
        <td><%= utensilname.name %></td>
        <td><%= utensilname.description %></td>
       <!--  <td><%#= link_to 'Show', utensilname %></td> -->
        <td><%= link_to '', edit_utensilname_path(utensilname) , class: "fa fa-pencil" %></td>
       <!--  <td><%#= link_to 'Destroy', utensilname, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Utensilname', new_utensilname_path %>
