<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @utensilname.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @utensilname.description %>
</p>

<%= link_to 'Edit', edit_utensilname_path(@utensilname) %> |
<%= link_to 'Back', utensilnames_path %>
