<%= form_for(depriciation_category) do |f| %>
 <!--  <%# if depriciation_category.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(depriciation_category.errors.count, "error") %> prohibited this depriciation_category from being saved:</h2>

      <ul>
      <%# depriciation_category.errors.full_messages.each do |message| %>
        <li><%#= message %></li>
      <% #end %>
      </ul>
    </div>
  <%# end %> -->
<article class="content item-editor-page wrap-center">
    <div class="title-block">
        <h3 class="title"><span class="sparkline bar" data-type="bar"></span> </h3>
    </div>
    <form name="item">
        <div class="row">
          <div class="form-group">
            <div class="col-xs-4"> 
 
 <label class="control-label"> 
  <div class="field">
    <%= f.label :name %></div></label>
    <div class="form-group">
    <%= f.text_field :name %></div>
  </div>

<label class="control-label"> 
  <div class="field">
    <%= f.label :description %></div></label>
    <div class="form-group">
    <%= f.text_area :description %>
  </div>

  <div class="row">
  <div class="actions">
    <div class="col col-md-3">
       <%= f.submit "submit" , class: "btn btn-primary" %></div>
    <div class="col col-md-3"> <%= link_to 'Back', depriciation_categories_path , :class=>"btn btn-primary"%>
  </div></div>
  </div>


</form>
</article>
<% end %>