<div class="col-md-12 col-sm-8 body-wrap">
  <div class="body-container"> 
  <div class="body-header">  
<h3 class="modal-title">EDIT-DEPARTMENT</h3>
</div>
<%= render 'form', depriciation_category: @depriciation_category %>
</div>
</div>
<%#= link_to 'Show', @depriciation_category %> |
<%#= link_to 'Back', depriciation_categories_path %>
