<p id="notice"><%= notice %></p>
<div class="col-md-12 col-sm-8 body-wrap">
  <div class="body-container">
    <div class="body-header">
      <h3>Depriciation category<span><%= link_to 'New Depriciation', new_depriciation_category_path, :class=>"btn btn-primary btn-sm rounded-s"%> </span></h3>
      <h2>Depriciation Categories</h2>
    </div>
<div class="body-content">
  <div id="dashboard-container">
     <div class="table-container">


<table class="table table-striped table-bordered table-hover display" cellspacing="0" width="100%" id="depriciation_category">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th >Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @depriciation_categories.each do |depriciation_category| %>
      <tr>
        <td><%= depriciation_category.name %></td>
        <td><%= depriciation_category.description %></td>
        <td><%= link_to '', edit_depriciation_category_path(depriciation_category), class: "fa fa-pencil"%></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
</div>
</div>
</div>
</div>


<%#= link_to 'New Depriciation Category', new_depriciation_category_path %>
