<div class="col-md-12 col-sm-8 body-wrap">
  <div class="body-container"> 
  <div class="body-header">    
<h3 class="modal-title">Add- Depriciation Category</h3>
</div>
<%= render 'form', depriciation_category: @depriciation_category %>


