<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @depriciation_category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @depriciation_category.description %>
</p>

<%= link_to 'Edit', edit_depriciation_category_path(@depriciation_category) %> |
<%= link_to 'Back', depriciation_categories_path %>
