<style type="text/css">
  .panel{
    background: transparent!important;
  }

  .sidebar .panel-default > .panel-heading .panel-title a {
    text-decoration: none!important;
  }

  .sidebar .panel-body li a {
    text-decoration: none!important;
  }  

</style>

<div class="sidebar">
  <div class="brand">
    <img src="/assets/habitos.png" style="border-radius: 100%;">
  </div>
  <div class="panel-collapse panel-wrapper panel-scroll" id="accordion">
    <% if Administrator? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="nav_def0"  data-parent="#accordion" href="/normalmenu_sites/dashboard">Dashboard <i class="fa fa-dashboard" aria-hidden="false"></i></a>
          </h4>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="nav_def1" data-toggle="collapse" data-parent="#accordion" href="#collapseone">CRM <i class="fa fa-th-large" aria-hidden="true"></i></a>
          </h4>
        </div>
        <div id="collapseone" class="panel-collapse collapse ">
          <div class="panel-body">
            <ul>
              <li><a href="/tenants"> CRM Info</a></li>
              <li><a href="<%= software_setups_path %>">Software Setup</a></li>
              <li><a href="<%= enrolments_path  %>">Individual Enrollment</a></li>
              <li><a href="<%= customer_view_controls_path %>">View Control</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="nav_def2" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">SCM <i class="fa fa-bar-chart" aria-hidden="true"></i></a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse ">
          <div class="panel-body">
            <ul>
              <li><a href="<%= summaries_path %>">OD Summary</a></li>
              <li><a href="<%= parent_orders_path %>">Individual Orders</a></li>
              <li><a href="<%= normalmenu_sites_path %>">Assign Menu</a></li>
              <li><a href="<%= status_path%>">Dispatch Delivery Receive</a></li>
              <li><a href="<%= auditreviews_path %>">Audit</a></li>
              <li><a href="<%= feedbacks_path %>">Feedback</a></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
    <% if DispatchManager? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="nav_def0"  data-parent="#accordion" href="/normalmenu_sites/dashboard">Dashboard <i class="fa fa-dashboard" aria-hidden="false"></i></a>
          </h4>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="nav_def2" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">SCM <i class="fa fa-bar-chart" aria-hidden="true"></i></a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse ">
          <div class="panel-body">
            <ul>
              <li><a href="<%= summaries_path %>">OD Summary</a></li>
              <li><a href="<%= status_path%>">Dispatch Delivery Receive</a></li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="nav_def3" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Facility Management <i class="fa fa-table" aria-hidden="true"></i></a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse ">
          <div class="panel-body">
            <ul>
              <% if CEO? %>
                <li><a href="<%= kitchens_path %>">Facility</a></li>
              <% end %>
              <li><a href="<%= utensils_path %>"> Assets</a></li>
              <li><a href="<%= normalmenu_sites_notreceive_status_path %>">Utensils Not Received</a></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
    <% if Nutrition? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="nav_def0"  data-parent="#accordion" href="/normalmenu_sites/dashboard">Dashboard <i class="fa fa-dashboard" aria-hidden="false"></i></a>
          </h4>
        </div>
      </div>
      <!-- <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="nav_def4"  data-parent="#accordion" href="<%= food_groups_path %>">Recipe Management<i class="fa fa-desktop" aria-hidden="false"></i></a>
          </h4>
        </div>
      </div>
       -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="nav_def5" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Master<i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
          </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse ">
          <div class="panel-body">
            <ul>
              <!-- <li> <a href="<%= categories_path %>">Item Category</a> </li> -->
              <li><a href="<%= menu_masters_path %>">All Menu</a></li>
              <li> <a href="<%= production_items_path %>">Item List</a> </li>
              <li> <a href="<%= nutritions_path %>">Item Nutrition</a> </li>
            </ul>               
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="nav_def2" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">SCM <i class="fa fa-bar-chart" aria-hidden="true"></i></a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse ">
          <div class="panel-body">
            <ul>
              <li><a href="<%= summaries_path %>">OD Summary</a></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
    <% if AuditManager? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="nav_def0"  data-parent="#accordion" href="/normalmenu_sites/dashboard">Dashboard <i class="fa fa-dashboard" aria-hidden="false"></i></a>
          </h4>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="nav_def2" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">SCM <i class="fa fa-bar-chart" aria-hidden="true"></i></a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse ">
          <div class="panel-body">
            <ul>
              <li><a href="<%= auditreviews_path %>">Audit</a></li>
              <li><a href="<%= feedbacks_path %>">Feedback</a></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
    <% if CEO? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="nav_def0"  data-parent="#accordion" href="/normalmenu_sites/dashboard">Dashboard <i class="fa fa-dashboard" aria-hidden="false"></i></a>
          </h4>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="nav_def1" data-toggle="collapse" data-parent="#accordion" href="#collapseone">CRM <i class="fa fa-th-large" aria-hidden="true"></i></a>
          </h4>
        </div>
        <div id="collapseone" class="panel-collapse collapse ">
          <div class="panel-body">
            <ul>
              <li><a href="/tenants"> CRM Info</a></li>
              <li><a href="<%= software_setups_path %>">Software Setup</a></li>
              <li><a href="<%= enrol_index_path  %>">Individual Enrollment</a></li>
              <li><a href="<%= customer_view_controls_path %>">View Control</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="nav_def2" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">SCM <i class="fa fa-bar-chart" aria-hidden="true"></i></a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse ">
          <div class="panel-body">
            <ul>
              <li><a href="<%= summaries_path %>">OD Summary</a></li>
              <li><a href="<%= parent_orders_path %>">Individual Orders</a></li>
              <li><a href="<%= attendance_index_path %>">Today Attendance</a></li>
              <li><a href="<%= normalmenu_sites_path %>">Assign Menu</a></li>
              <li><a href="<%= status_path%>">Dispatch Delivery Receive</a></li>
              <li><a href="<%= auditreviews_path %>">Audit</a></li>
              <li><a href="<%= feedbacks_path %>">Feedback</a></li>
              <li><a href="<%= tenants_user_feedback_path %>"> User Feedback</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="nav_def3" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Facility Management <i class="fa fa-table" aria-hidden="true"></i></a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse ">
          <div class="panel-body">
            <ul>
              <li><a href="<%= kitchens_path %>">Facility</a></li>
              <li> <a href="<%= utensils_path %>"> Assets</a></li>
              <li><a href="<%= normalmenu_sites_notreceive_status_path %>">Utensils Not recieved</a></li>
            </ul>
          </div>
        </div>

      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="nav_def4" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Report <i class="fa fa-file" aria-hidden="true"></i></a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse ">
          <div class="panel-body">
            <ul>
              <li><a href="<%= menu_masters_path %>">All Menu</a></li>
              <li><a href="<%= status_path%>">Dispatch Delivery Receive</a></li>
              <li><a href="<%= feedbacks_path %>">Feedback</a></li>
              <li><a href="<%= summaries_path %>">OD Summary</a></li>
              
            </ul>
          </div>
        </div>
        
      </div>
      <!-- <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="nav_def4"  data-parent="#accordion" href="<%= food_groups_path %>">Recipe Management<i class="fa fa-desktop" aria-hidden="false"></i></a>
          </h4>
        </div>
      </div>
       -->
       <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="nav_def5" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Master<i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
          </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse ">
          <div class="panel-body">
            <ul>
              <li><a href="<%= alleries_path %>">Allergy</a></li>
             <!--  <li><a href="<%#= menu_masters_path %>">All Menu</a></li> -->
              <li><a href="<%= normalmenu_sites_menu_planner_path %>">Add Menu</a></li>
              <li><a href="<%= categories_path %>">Item Category</a></li>
              <li><a href="<%= production_items_path %>">Item List</a></li>
              <!-- <li><a href="<%#= nutritions_path %>">Item Nutrition</a></li> -->
              <li><a href="<%= enrolments_individual_path %>">Individual Credentials</a></li>
              <li><a href="<%= food_categories_path %>">Meal Type</a></li>
              <li><a href="<%= meal_courses_path %>">Meal Course</a></li>
              <li><a href="<%= meal_restrictions_path %>">Meal Restriction</a></li>
             <!--  <li><a href="<%#= production_categories_path %>">Production Category</a></li>
              <li><a href="<%#= item_subcategories_path %>">Production Sub-Category</a></li> -->
              <li><a href="<%= site_categories_path %>">Site Category</a></li>
              <li><a href="<%= standards_path %>">Standards</a></li>
              <!-- <li><a href="<%#= unit_of_measurements_path %>">Unit of Measurement</a></li> -->
              <li><a href="<%= departments_path %>">Department</a></li>
              <li><a href="<%= vesselplanners_index_path %>">Vessel Planner</a></li>
              <li><a href="<%= depriciation_categories_path %>">Depriciation Category</a></li> <li><a href="<%= utensilnames_path %>">Utensil Name</a></li>
              <!-- <li><a href="<%#= utensils_categories_path %>">Utensil category</a></li> -->
              <li><a href="<%= kitchen_users_path %>">User Credentials</a></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>   
  

<% if Chef?  %>
  <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="nav_def0"  data-parent="#accordion" href="/normalmenu_sites/dashboard">Dashboard <i class="fa fa-dashboard" aria-hidden="false"></i></a>
          </h4>
        </div>
      </div>
 
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="nav_def2" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">SCM <i class="fa fa-bar-chart" aria-hidden="true"></i></a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse ">
          <div class="panel-body">
            <ul>
              <li><a href="<%= summaries_path %>">OD Summary</a></li>
              <li><a href="<%= normalmenu_sites_path %>">Assign Menu</a></li>
              <li><a href="<%= auditreviews_path %>">Audit</a></li>
              <li><a href="<%= feedbacks_path %>">Feedback</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="nav_def5" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Master<i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
          </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse ">
          <div class="panel-body">
            <ul>
              <li><a href="<%= menu_masters_path %>">All Menu</a></li>
              <li><a href="<%= production_items_path %>">Item List</a></li>
              <li><a href="<%= nutritions_path %>">Item Nutrition</a></li>
              
            </ul>
          </div>
        </div>
      </div>
      

<%end%>

</div>
</div>
<script>
  $(".side-hide").click(function(){
    $(".sidebar").toggleClass("hide-nav");
    $(".wrapper").toggleClass("active");
  }); 
  $(".nav_def0").click(function(){
    $(".nav_def0").toggleClass("active_nav");
  });
  $(".nav_def1").click(function(){
    $(".nav_def1").toggleClass("active_nav");   
  });
  $(".nav_def2").click(function(){
    $(".nav_def2").toggleClass("active_nav");
  });
  $(".nav_def3").click(function(){
    $(".nav_def3").toggleClass("active_nav");
  });
  $(".nav_def4").click(function(){
    $(".nav_def4").toggleClass("active_nav");
  });
  $(".nav_def5").click(function(){
    $(".nav_def5").toggleClass("active_nav");
  });
  $(".sandwich").click(function(){
    $(".sidebar").toggleClass("show-nav");
  });

  $(document).ready(function(){
    $(".userinfo").click(function(){
      $(".drop-nav").toggle();
    });
    $('.step-anchor').click(function(){
      var tab_id = $(this).attr('data-tab');
      $('.tab-contents').removeClass('current');
      $("#"+tab_id).addClass('current');
    })
  });

  $('.owl-carousel').owlCarousel({
    items:1,  
    loop:true,
    margin:0,
    nav:true,
  })
</script>


<% if false %>

<nav id="sidebar" class="active">
  <div class="sidebar-header">
    <img src="\assets\logo-circle.png">
  </div>

  <div class="list-group panel">
    <a href="/normalmenu_sites/dashboard" class="list-group-item collapsed" data-parent="#sidebar"><i class="fas fa-tv"></i> <span class="hidden-sm-down">Dashboard</span></a>
    <a href="#menu1" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fas fa-th-large"></i><span class="hidden-sm-down">CRM</span> <i class="fas fa-angle-right" aria-hidden="true"></i></a>
    <div class="collapse" id="menu1">
      <a href="/tenants" class="list-group-item" data-parent="#menu1">CRM Info</a>
      <a href="/software_setups" class="list-group-item" data-parent="#menu1">Software Setup</a>
      <a href="/enrol_index" class="list-group-item" data-parent="#menu1">Individual Enrollment</a>
      <a href="/customer_view_controls" class="list-group-item" data-parent="#menu1">View Control</a>
    </div>
    <a href="#menu2" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="far fa-chart-bar"></i><span class="hidden-sm-down">SCM</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    <div class="collapse" id="menu2">
      <a href="/summaries" class="list-group-item" data-parent="#menu2">OD Summary</a>
      <a href="/parent_orders" class="list-group-item" data-parent="#menu2">Individual Orders</a>
      <a href="/attendance_index" class="list-group-item" data-parent="#menu2">Today Attendance</a>
      <a href="/normalmenu_sites" class="list-group-item" data-parent="#menu2">Assign Menu</a>
      <a href="/status" class="list-group-item" data-parent="#menu2">Dispatch Delivery Receive</a>
      <a href="/auditreviews" class="list-group-item" data-parent="#menu2">Audit</a>
      <a href="/feedbacks" class="list-group-item" data-parent="#menu2">Feedback</a>         
    </div>
    <a href="#menu3" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fas fa-calendar-alt"></i><span class="hidden-sm-down">Facility Management</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    <div class="collapse" id="menu3">
      <a href="/kitchens" class="list-group-item" data-parent="#menu3">Facility</a>
      <a href="/utensils" class="list-group-item" data-parent="#menu3">Assets</a>
      <a href="/normalmenu_sites/notreceive_status" class="list-group-item" data-parent="#menu3">Utensils Not Received</a>
    </div>
    <a href="#menu4" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="far fa-chart-bar"></i><span class="hidden-sm-down">Masters</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    <div class="collapse" id="menu4">
      <a href="/alleries" class="list-group-item" data-parent="#menu4">Allergy</a>
      <a href="/menu_masters" class="list-group-item" data-parent="#menu4">All Menu</a>
      <a href="/normalmenu_sites/menu_planner" class="list-group-item" data-parent="#menu4">Add Menu</a>
      <a href="/categories" class="list-group-item" data-parent="#menu4">Item Category</a>
      <a href="/production_items" class="list-group-item" data-parent="#menu4">Item List</a>
      <a href="/nutritions" class="list-group-item" data-parent="#menu4">Item Nutrition</a>
      <a href="/enrolments/individual" class="list-group-item" data-parent="#menu4">Individual Credentials</a>
      <a href="/food_categories" class="list-group-item" data-parent="#menu4">Meal Type</a>
      <a href="/meal_courses" class="list-group-item" data-parent="#menu4">Meal Course</a>
      <a href="/meal_restrictions" class="list-group-item" data-parent="#menu4">Meal Restriction</a>
      <a href="/production_categories" class="list-group-item" data-parent="#menu4">Production Category</a>
      <a href="/item_subcategories" class="list-group-item" data-parent="#menu4">Production Sub-Category</a>
      <a href="/site_categories" class="list-group-item" data-parent="#menu4">Site Category</a>
      <a href="/standards" class="list-group-item" data-parent="#menu4">Standards</a>
      <a href="/unit_of_measurements" class="list-group-item" data-parent="#menu4">Unit Of Measurement</a>
      <a href="/utensils_categories" class="list-group-item" data-parent="#menu4">Utensils Category</a>
      <a href="/kitchen_users" class="list-group-item" data-parent="#menu4">User Credentials</a>
    </div>
  </div>
</nav>

<% end %>